{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ article.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ article.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ article.keywords|default(parent()) }}{% endblock %}

{% block page_header %}
    {{ article.title }}

    {% set obj = article %}
    {% include 'CmsElmatBundle:Default:editLinkScriptTag.html.twig' with { type: 'article', id: obj.id, og: obj.offerGroup ? obj.offerGroup.slug : ''} %}
{% endblock %}

{% block page_class %}page-products page-text product-tabs{% endblock %}

{% block page_content %}
    <div class="site-description">
        {% if article.getWebPath %}
            <a class="gallery_photo" href="{{ asset( article.getWebPath() ) }}">
                <img src="{{ asset( article.getWebPathCrop() | imagine_filter('aktualnosci_szczegoly') ) }}" alt="" class="float-right round-5px" />
            </a>
        {% endif %}

        {{ article.content|raw }}
    </div>

    {% include 'CmsElmatBundle:Pliki:_do_pobrania.html.twig' with {pliki: article.pliki} %}

    {% if article.getTabs() %}
        <br /><br />
        <div class="tabs-controlls">
            {% for tab in article.tabs %}
                {% if tab.description %}
                    <a class="{% if loop.first %}current{% endif %}"
                            href="javascript:void(0)"
                            rel="prod-tab-{{ tab.id }}"
                            onclick="$('.tabs-controlls a, .tabs .tab').removeClass('current'); $(this).addClass('current');$('#' + $(this).attr('rel')).addClass('current')"
                    >
                        {{ tab.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="tabs">
            {% for tab in article.tabs %}
                {% if tab.description %}
                    <div class="tab {% if loop.first %}current{% endif %}" id="prod-tab-{{ tab.id }}">
                        {{ tab.description|raw }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}

    {% if article.galeria %}
        {% include 'CmsElmatBundle:Galeria:show_podstrona.html.twig' with {'galeria': article.galeria} %}
    {% endif %}
{% endblock %}