#preview-modal .modal-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
}

#preview-modal .modal-body strong,
#preview-modal .modal-body b {
    font-weight: 500;
}

#preview-modal .modal-body .site-title {
    overflow: hidden;
    min-height: 59px;
    border: 1px solid #d0d0d0;
    border-right: 0;
    background: #fbfbfb;
    padding: 17px 30px 0;
    position: relative;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 6px 8px rgba(0, 0, 0, .1), inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 6px 8px rgba(0, 0, 0, .1), inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 6px 8px rgba(0, 0, 0, .1), inset 0 0 2px #fff;
}

#preview-modal .modal-body .site-title .head {
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#preview-modal .modal-body .site-title .head2 {
    margin: 7px 0 0;
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#preview-modal .modal-body .site-title .desc {
    color: #009fe3;
    font-size: 13px;
    line-height: 16px;
    margin: 2px 2px 0;
}

#preview-modal .modal-body .site-title .desc.gray {
    color: #7d7d7d;
}

#preview-modal .modal-body .site-description {
    padding: 20px 20px 20px 30px;
    line-height: 23px;
    font-size: 13px;
    color: #11110f;
    overflow: hidden;
    margin: 0;
}

#preview-modal .modal-body .site-description .highlight {
    color: #11367a;
    font-size: 15px;
    line-height: 25px;
}

#preview-modal .modal-body .site-description ul {
    list-style-image: url('../images/li.jpg');
    font-size: 13px;
    line-height: 15px;
    margin: 6px 0 2px;
    padding: 0;
}

#preview-modal .modal-body .site-description ul li {
    display: block;
    padding: 0 0 8px 20px;
    margin: 0;
    background: url('../images/li.jpg') no-repeat 2px 4px;
}

#preview-modal .modal-body .site-description ul li span {
    display: inline-block;
    padding: 2px 3px 0;
    color: #fff;
    font-size: 11px;
}

#preview-modal .modal-body .site-description .float-right {
    float: right;
    margin: 0 0 5px 16px;
}

#preview-modal .modal-body .site-description .round-5px {

}

#preview-modal .modal-body .product-title {
    overflow: hidden;
    height: 51px;
    border: 1px solid #009be3;
    border-right: 0;
    background: #fbfbfb;
    padding: 15px 30px 0;
    position: relative;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 6px 8px rgba(0, 0, 0, .1), inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 6px 8px rgba(0, 0, 0, .1), inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 6px 8px rgba(0, 0, 0, .1), inset 0 0 2px #fff;
}

#preview-modal .modal-body .product-title .steps {
    display: block;
    position: absolute;
    top: 14px;
    right: 19px;
    border: 1px solid #dcdcdc;
    border-right: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

#preview-modal .modal-body .product-title .steps li {
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid #dcdcdc;
    text-align: center;
}

#preview-modal .modal-body .product-title .steps li a {
    width: 132px;
    height: 16px;
    display: block;
    line-height: 15px;
    font-size: 15px;
    color: #11110f;
    padding: 10px 0;
    text-transform: uppercase;
}

#preview-modal .modal-body .product-title .steps li a:hover,
#preview-modal .modal-body .product-title .steps li a.selected {
    background: #008fde;
    color: #fff;
    text-decoration: none;
}

#preview-modal .modal-body .product-title .head {
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#preview-modal .modal-body .product-title .head2 {
    margin: 7px 0 0;
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#preview-modal .modal-body .product-title .desc {
    color: #009fe3;
    font-size: 13px;
    line-height: 16px;
    margin: -2px 2px 0;
}

#preview-modal .modal-body .product-title .desc.gray {
    color: #7d7d7d;
}

#preview-modal .modal-body .product-title .product-menu {
    position: absolute;
    overflow: hidden;
    top: 20px;
    right: 9px;
    height: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#preview-modal .modal-body .product-title .product-menu li {
    float: left;
    height: 32px;
    overflow: hidden;
    margin: 0 12px 0 0;
}

#preview-modal .modal-body .product-title .product-menu li a {
    display: block;
    height: 32px;
    line-height: 33px;
    overflow: hidden;
    padding: 0 10px;
    color: #1a1a18;
    font-size: 17px;
    margin: 0;
    float: left;
}

#preview-modal .modal-body .product-title .product-menu li a.download {
    padding: 0 10px 0 19px;
    background: url('../images/download_bg.png') no-repeat 0 10px;
}

#preview-modal .modal-body .product-title .product-menu li a:hover {
    background: #009be3;
    color: #fff;
    text-decoration: none;
}

#preview-modal .modal-body .product-title .product-menu li a.download:hover {
    color: #009be3;
    background: url('../images/download_bg.png') no-repeat 0 10px;
}

#preview-modal .modal-body .product-title.upper {
    border: 0;
    padding: 11px 30px 0;
    height: 45px;
}

#preview-modal .modal-body .product-title.upper .head,
#preview-modal .modal-body .product-title.upper .head2 {
    font-weight: 700;
}

#preview-modal .modal-body .product-title.upper .product-menu {
    text-transform: uppercase;
    top: 15px;
}

#preview-modal .modal-body .product-title.upper .product-menu li {
    margin: 0 4px 0 0;
}

#preview-modal .modal-body .product-title.upper .product-menu li a {
    font-size: 15px;
}

#preview-modal .modal-body .product-description {
    padding: 20px 20px 20px 30px;
    line-height: 23px;
    font-size: 15px;
    color: #11110f;
    overflow: hidden;
    margin: 0;
}

#preview-modal .modal-body .product-description.upper {
    padding: 16px 20px 20px 30px;
}

#preview-modal .modal-body .product-download {
    padding: 21px 22px 36px 22px;
    border-top: 1px solid #dcdcdc;
    overflow: hidden;
}

#preview-modal .modal-body .product-download.bg_gray {
    background: #f5f5f5;
}

#preview-modal .modal-body .product-download .header {
    background: url('../images/download_bg.png') no-repeat 0 4px;
    line-height: 23px;
    height: 23px;
    padding: 0 0 0 23px;
    font-size: 18px;
    color: #1a1a18;
}

#preview-modal .modal-body .product-download.articles .header {
    background: url('../images/articles_bg.png') no-repeat 0 4px;
}

#preview-modal .modal-body .product-download .cont {
    overflow: hidden;
    margin: 24px 0 0 3px;
}

#preview-modal .modal-body .product-download .cont .item {
    float: left;
    overflow: hidden;
    width: 195px;
    height: 36px;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px 20px;
    padding: 0 45px 0 12px;
    font-size: 15px;
    color: #11110f;
    line-height: 38px;
}

#preview-modal .modal-body .product-download .item.pdf {
    background: #fff url('../images/bg_pdf.jpg') no-repeat 214px 11px;
}

#preview-modal .modal-body .product-download .item.doc {
    background: #fff url('../images/bg_doc.jpg') no-repeat 214px 11px;
}

#preview-modal .modal-body .product-download .item.xls {
    background: #fff url('../images/bg_xls.jpg') no-repeat 214px 11px;
}

#preview-modal .modal-body .product-download .item:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
}

#preview-modal .modal-body .product-photos {
    padding: 18px 22px 41px 25px;
    border-top: 1px solid #dcdcdc;
    overflow: hidden;
    position: relative;
}

#preview-modal .modal-body .product-photos .header {
    background: url('../images/camera.png') no-repeat 0 5px;
    line-height: 23px;
    height: 23px;
    padding: 0 0 0 23px;
    font-size: 18px;
    color: #1a1a18;
}

#preview-modal .modal-body .product-photos #product-slider {
    overflow: hidden;
    width: 1200px;
    height: 143px;
    margin: 12px 0 0 -5px;
    padding: 0;
    list-style: none;
}

#preview-modal .modal-body .product-photos #product-slider li {
    overflow: hidden;
    width: 267px;
    height: 143px;
    margin: 0 20px 0 0;
    float: left;
}

#preview-modal .modal-body .product-photos #product-slider .gallery_photo {
    position: relative;
    cursor: pointer;
    display: block;
    height: 143px;
    width: 267px;
}

#preview-modal .modal-body .product-photos #product-slider .gallery_photo img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#preview-modal .modal-body .product-photos #prev3 {
    position: absolute;
    left: 0;
    height: 49px;
    top: 97px;
    width: 36px;
    background: url('../images/prev2.png') no-repeat 0 0;
    overflow: hidden;
    cursor: pointer;
}

#preview-modal .modal-body .product-photos #prev3.disabled {
    display: none;
}

#preview-modal .modal-body .product-photos #next3 {
    position: absolute;
    right: 0;
    height: 49px;
    top: 97px;
    width: 146px;
    background: url('../images/next2.png') no-repeat 0 0;
    overflow: hidden;
    cursor: pointer;
}

#preview-modal .modal-body .product-photos #next3.disabled {
    display: none;
}

#preview-modal .modal-body .product-articles {
    padding: 21px 22px 0 21px;
    border-top: 1px solid #dcdcdc;
    overflow: hidden;
    position: relative;
    background: #fbfbfb;
}

#preview-modal .modal-body .product-articles .header {
    line-height: 23px;
    height: 23px;
    padding: 0 0 0 3px;
    margin: 0 0 13px;
    font-size: 18px;
    color: #1a1a18;
}

#preview-modal .modal-body .product-articles .item {
    width: 180px;
    overflow: hidden;
    padding: 0 19px 36px 0;
    border-right: 1px solid #dcdcdc;
    margin: 0 20px 21px 0;
    float: left;
    position: relative;
}

#preview-modal .modal-body .product-articles .item .image {
    display: block;
    width: 180px;
    height: 255px;
    position: relative;
    padding-bottom: 5px;
    background: url('../images/bg_tech_img.png') no-repeat bottom left
}

#preview-modal .modal-body .product-articles .item .image .label {
    display: block;
    position: absolute;
    right: 0;
    bottom: 19px;
    z-index: 1;
    height: 21px;
    width: 79px;
    background: url('../images/fibrain_data.png') no-repeat 0 0;
}

#preview-modal .modal-body .product-articles .item .image img {
    display: block;
    position: relative;
    z-index: 0;
}

#preview-modal .modal-body .product-articles .item .title {
    display: block;
    line-height: 23px;
    padding: 0;
    margin: 17px 0 13px;
    font-size: 19px;
    color: #2e2e2d;
    text-align: center;
}

#preview-modal .modal-body .product-articles .item .item-download {
    float: left;
    overflow: hidden;
    width: 133px;
    height: 36px;
    border: 1px solid #dcdcdc;
    margin: 0 0 0 20px;
    padding: 0 0 0 12px;
    font-size: 15px;
    color: #11110f;
    line-height: 38px;
    background: url('../images/bg_pdf.jpg') no-repeat 109px 11px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}

#preview-modal .modal-body .product-articles .item .item-download:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
}

#preview-modal .modal-body .powiazane .row,
#preview-modal .modal-body.product-web .row {
    margin-left: 0;
    overflow: hidden;
    padding: 19px 0 21px;
    border-top: #dcdcdc 1px solid;
}

#preview-modal .modal-body .powiazane {
    padding-bottom: 20px;
}

#preview-modal .modal-body .powiazane .row .item,
#preview-modal .modal-body.product-web .row .item {
    overflow: hidden;
    border-right: #dcdcdc 1px solid;
    padding: 0 18px 0 0;
    margin: 0 0 0 20px;
    width: 180px;
    float: left;
}

#preview-modal .modal-body .powiazane .row .item + .item + .item + .item,
#preview-modal .modal-body.product-web .row .item + .item + .item + .item {
    padding: 0;
    border: 0;
}

#preview-modal .modal-body .powiazane .row .item .image,
#preview-modal .modal-body.product-web .row .item .image {
    position: relative;
    cursor: pointer;
    display: block;
    height: 166px;
    width: 180px;
}

#preview-modal .modal-body .powiazane .row .item .image img,
#preview-modal .modal-body.product-web .row .item .image img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#preview-modal .modal-body .powiazane .row .item .title,
#preview-modal .modal-body.product-web .row .item .title {
    display: block;
    font-size: 19px;
    line-height: 23px;
    color: #2e2e2d;
    text-align: center;
    margin: 17px 0 5px;
    padding: 0;
}

#preview-modal .modal-body .powiazane .row .item .title:hover,
#preview-modal .modal-body.product-web .row .item .title:hover {
    text-decoration: none;
    color: #008fde;
    cursor: pointer;
}

#preview-modal .modal-body .product-items {
    overflow: hidden;
}

#preview-modal .modal-body .product-items div {
    overflow: hidden;
}

#preview-modal .modal-body .product-items div .item {
    overflow: hidden;
    width: 410px;
    min-height: 200px;
    float: left;
    border-right: 1px solid #dcdcdc;
    margin: 0 0 40px 22px;
}

#preview-modal .modal-body .product-items div .item .image {
    float: left;
    height: 198px;
    width: 139px;
    overflow: hidden;
}

#preview-modal .modal-body .product-items div .item .image img {
    display: block;
}

#preview-modal .modal-body .product-items div .item .rest {
    margin: 0 0 0 20px;
    float: left;
    width: 250px;
    min-height: 200px;
    overflow: hidden;
}

#preview-modal .modal-body .product-items div .item .rest .title {
    line-height: 33px;
    font-size: 19px;
    color: #11367a;
    font-weight: 400;
    padding: 0;
    display: block;
    margin: -7px 0 6px;
}

#preview-modal .modal-body .product-items div .item .rest .text {
    line-height: 19px;
    font-size: 15px;
    color: #11110f;
    font-weight: 400;
}

#preview-modal .modal-body .product-items div .item .rest .text p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#preview-modal .modal-body .product-items div .item .rest .pdf {
    margin: 15px 0 0;
    float: left;
    width: 250px;
    overflow: hidden;
    font-weight: 400;
}

#preview-modal .modal-body .product-items div .item .rest .pdf div {
    line-height: 23px;
    font-size: 15px;
    color: #11110f;
    margin: 0 0 2px;
}

#preview-modal .modal-body .product-items div .item .rest .pdf a {
    height: 36px;
    width: 62px;
    border: 1px solid #dcdcdc;
    float: left;
    margin: 0 10px 0 0;
    text-indent: 12px;
    line-height: 40px;
    font-size: 15px;
    color: #11110f;
    background: url('../images/flag_pl.jpg') no-repeat 37px 12px;
}

#preview-modal .modal-body .product-items div .item .rest .pdf a + a {
    background: url('../images/flag_gb.jpg') no-repeat 37px 12px;
}

#preview-modal .modal-body .product-items div .item + .item {
    border-right: 0;
    border-left: 1px solid #dcdcdc;
    margin: 0 0 40px -1px;
    padding: 0 0 0 26px;
}

#preview-modal .modal-body .product-items-table {
    overflow: hidden;
    margin: 0;
}

#preview-modal .modal-body .product-items-table table {
    width: 100%;
    table-layout: fixed;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

#preview-modal .modal-body .product-items-table table tr th {
    padding: 0 0 0 20px;
    margin: 0;
    height: 37px;
    border-bottom: 1px solid #1b3723;
    background: #4a4a49;
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
}

#preview-modal .modal-body .product-items-table table tr td {
    padding: 10px 0 10px 20px;
    margin: 0;
    height: 20px;
}

#preview-modal .modal-body .product-items-table table tr td.td2 {
    font-size: 19px;
    color: #11367a;
    font-weight: 400;
}

#preview-modal .modal-body .product-items-table table tr td.td3,
#preview-modal .modal-body .product-items-table table tr td.td4 {
    font-size: 15px;
    color: #11110f;
    font-weight: 400;
}

#preview-modal .modal-body .product-items-table table tr td.td5 a {
    height: 36px;
    width: 62px;
    border: 1px solid #dcdcdc;
    float: left;
    margin: 0 10px 0 0;
    text-indent: 12px;
    line-height: 40px;
    font-size: 15px;
    color: #11110f;
    background: url('../images/flag_pl.jpg') no-repeat 37px 12px;
}

#preview-modal .modal-body .product-items-table table tr td.td5 a.en {
    background: url('../images/flag_gb.jpg') no-repeat 37px 12px;
}

#preview-modal .modal-body .product-items-table table tr.even {
    background: #f5f5f2;
}

#preview-modal .modal-body .product-items-table table tr td.head_1 {
    background: #43b369;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

#preview-modal .modal-body .product-items-table table tr td.head_2 {
    background: #008fde;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

#preview-modal .modal-body .product-items-table table tr td.head_3 {
    background: #ffa838;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

#preview-modal .modal-body .product-items-table table tr.tr_color_1 th:first-child {
    border-left: 2px solid #4a4a49;
}

#preview-modal .modal-body .product-items-table table tr.tr_color_2 td:first-child {
    border-left: 2px solid #43b369;
}

#preview-modal .modal-body .product-items-table table tr.tr_color_3 td:first-child {
    border-left: 2px solid #008fde;
}

#preview-modal .modal-body .product-items-table table tr.tr_color_4 td:first-child {
    border-left: 2px solid #ffa838;
}

#preview-modal .modal-body .product-items-table table tr th {

}
