{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

<ol>
   {% for part in object.trainingParticipants %}
    <li>{{part.nazwa}} {{ part.email }} {{ part.telefon }}</li>

    {% endfor %}
</ol>
{% endblock %}