<div class="panel">
    <div class="panel-title">Zapisz się do newslettera</div>
    <div class="panel-body">
        {% if isSubscriptionCreated %}
            <div class="info">{{ cms_config.get('ust_newsletter_nowa_subskrypcja_komunikat') }}</div>
        {% else %}
            <form id="form-newsletter-subscribe" class="form" action="{{ path('cms_elmat_newsletter_subscribe_send') }}" method="post" {{ form_enctype(form) }}>
                <div class="row">
                    <div class="right">{{ form_errors(form) }}</div>
                </div>
                <div class="row email-row">
                    <div class="left">Adres e-mail</div>
                    <div class="right">{{ form_widget(form.email) }}</div>
                </div>
                {#
                <div class="row" style="padding-bottom: 17px;">
                    <div class="left">{{ form_widget(form.zgoda_przetwarzanie) }}</div>
                    <div class="right">{{ cms_config.get('txt_newsletter_subskrybcja_zgoda_przetwarzanie') | nl2br }}</div>
                </div>
                <div class="row" style="padding-bottom: 17px;">
                    <div class="left">{{ form_widget(form.zgoda_otrzymywanie) }}</div>
                    <div class="right">{{ cms_config.get('txt_newsletter_subskrybcja_zgoda_otrzymywanie') | nl2br }}</div>
                </div>
                #}
                <div class="row" style="padding-bottom: 20px;">
                    <div class="left">{{ form_widget(form.zgoda_przesylanie) }}</div>
                    <div class="right">{{ cms_config.get('txt_newsletter_subskrybcja_zgoda_przesylanie') | nl2br }}</div>
                </div>
                <div class="row" style="padding-bottom: 27px;">
                    <div class="left">&nbsp;</div>
                    <div class="right" style="border-top: 1px solid #d0d0d0; padding-top: 13px;">{{ cms_config.get('txt_newsletter_subskrybcja_zgoda_text') | raw }}</div>
                </div>
                <div class="row">
                    <div class="left">&nbsp;</div>
                    <div class="right">
                        {{ form_rest(form) }}
                        <button type="submit">Zapisz się</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>