<div class="sideBar right newsletterWithFacebook" data-anim-width="240">
    <div class="label"></div>
    <div class="content">
        <div class="newsletter">
            <div class="header">FIBRAIN Newsletter</div>
            <div class="info">
                Chcesz otrzymywać najnowsze informacje?<br /><span>Zapisz się do newslettera!</span>
            </div>
            <div class="open-newsletter-modal">Podaj adres e-mail</div>
        </div>
        
        <div class="facebook">
            {{ cms_config.get('facebook_sidebar_plugin', '') | raw }}
        </div>
    </div>
</div>
