{% if not app.request.isXmlHttpRequest() %}

<script type="text/javascript">
    var newsletter_subscribe_url = '{{ path('cms_elmat_newsletter_subscribe') }}';

    function newsletter_subscribe_fun () {
    	$('#newsletter_subscribe_container').addClass('loading');
        $.ajax({

         	url: newsletter_subscribe_url,
         	type: 'POST',
         	data: $('#newsletter_subscribe_form').serialize(),
         	success: function(ret) {
             	$('#newsletter_subscribe_container').html(ret);
             	$('#newsletter_subscribe_container').removeClass('loading');
             },
             error: function() {
            	 $('#newsletter_subscribe_container').removeClass('loading');
                 alert('blad - sproboj ponownie');
             }
         });

    }

    $(function(){
        $(document).on('submit', '#newsletter_subscribe_form', function(e){
            e.preventDefault();
            newsletter_subscribe_fun();
        });
    });
</script>

<div id="newsletter_subscribe_container">

{% endif  %}

     <a name="newsletter" ></a>

     {% if isSubscriptionCreated %}
     <div class="info">
     {{ cms_config.get('ust_newsletter_nowa_subskrypcja_komunikat') }}
     </div>
     {% else %}


    <form method="post" id="newsletter_subscribe_form" novalidate >


        <div class="form-row" >

            {{  form_errors(form.email) }}
            {{  form_widget(form.email, {attr: {placeholder: 'Zapisz się do newslettera'}}) }}
            <input type="submit" value="" title="Zapisz się" />

            {# <input type="text" name="newsletter_email" id="footer_newsletter_email" value="Zapisz się do newslettera"/> #}
            {{  form_rest(form) }}
            {#
            <input type="submit" id="subscription_ok" value="OK" />
            #}

        </div>


    </form>

    {% endif %}

{% if not app.request.isXmlHttpRequest() %}

</div>

{% endif %}


