{% if wo_breadcrumbs()|length %}
  <ul id="breadcrumbs">
    {% for b in wo_breadcrumbs() %}
      {% if loop.last %}
      <li><p>{{ b.text }}</p></li>
      {% else %}
      <li><a {% if loop.first %}class="first"{% endif %} href="{{ b.url }}">{{ b.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

