{% if links is defined %}
    {% for link in links %}
        {% if loop.first %}
            <ul>
        {% endif %}
        {% if not loop.first %}
            {% set has_children  = false %}

            {% if link['children'] is defined and ( link['children']|length > 0) %}
                {% set has_children  = true %}
            {% endif %}

            <li class="{% if has_children %}has_children{% endif %} ">
                <a class="{% if link['current'] %}current{% endif %}" href="{{ link['url'] }}" {% if link['title'] is defined %}title="{{ link['title'] }}"{% endif %} >
                    {{ link['anchor'] }}
                    {% if link['count']|default('') %}
                        <span><span class="black">{{ link['count'] }}</span></span>
                    {% endif %}
                </a>
            </li>

            {% if has_children %}
                <ul class="children">
                    {% for child in link['children'] %}
                        <li>
                            <a class="{% if child['current'] %}current{% endif %}" href="{{ child['url'] }}" {% if child['title'] is defined %}title="{{ child['title'] }}"{% endif %} >
                                {{ child['anchor'] }}
                                {% if child['count']|default('') %}
                                    <span><span class="black">{{ child['count'] }}</span></span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}
{% endif %}
