{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ categorynews.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ categorynews.title }}. {{ parent() }}{% endblock %}
{% block keywords %}{{ categorynews.title }},{{ parent() }}{% endblock %}

{% block page_header %}
   {{ categorynews.title }}
{% endblock %}


{% block page_content %}
<div class="training_list">
    {% for item in categorynews.news %}
    <div class="item">
        {% if item.getWebPath %}
        <a href="{{ path(item.route, item.RouteParametersArray) }}" title="{{ item.title }}" class="photo">
            <img src="{{ asset( item.getWebPathCrop() | imagine_filter('aktualnosci_lista') ) }}" alt="{{ item.title }}"/></a>
        {% endif %}
        <div class="data">
            <a href="{{ path(item.route, item.RouteParametersArray) }}" title="{{ item.title }}" class="title">{{ item.title }}</a>
            <div class="teaser">
                {{ item.description|slice(0, 150) }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
