{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block page_class %}page-products page-text page-single padding-bottom{% endblock %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}
{% block description %}Kontakt. {{ parent() }}{% endblock %}
{% block keywords %}Kontakt,{{ parent() }}{% endblock %}

{% block page_header %}
    Kontakt
{% endblock %}

{% block page_content %}
    <div class="site-description">
        <div class="login-header">Formularz kontaktowy</div>

        <p>{{ cms_config.get('txt_formularz_kontaktowy_wstep') | raw }}</p>

        {% if message == 'sent' %}
            <div style="padding:20px 0">
                {{ cms_config.get('txt_formularz_podziekowanie', 'Wiadomość została wysłana. Dziękujemy za skorzystanie z formularza.') }}
            </div>
        {% else %}

            <form class="login-form contact-form wide" id="form_contact" action="{{ path("cms_elmat_default_contact") }}" method="post" {{ form_enctype(form) }}>
                <div class="control-group">
                    {% if form_errors(form.typ) %}
                        <span class="error">{{ form_errors(form.typ) }}</span>
                    {% endif %}
                    {{ form_label(form.typ) }}
                    {{ form_widget(form.typ) }}
                </div>

                <div class="control-group">
                    {% if form_errors(form.firma) %}
                        <span class="error">{{ form_errors(form.firma) }}</span>
                    {% endif %}
                    {{ form_label(form.firma) }}
                    {{ form_widget(form.firma) }}
                </div>

                <div class="control-group">
                    {% if form_errors(form.imie_nazwisko) %}
                        <span class="error">{{ form_errors(form.imie_nazwisko) }}</span>
                    {% endif %}
                    {{ form_label(form.imie_nazwisko) }}
                    {{ form_widget(form.imie_nazwisko) }}
                </div>

                <div class="control-group">
                    {% if form_errors(form.email) %}
                        <span class="error">{{ form_errors(form.email) }}</span>
                    {% endif %}
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="control-group">
                    {% if form_errors(form.telefon) %}
                        <span class="error">{{ form_errors(form.telefon) }}</span>
                    {% endif %}
                    {{ form_label(form.telefon) }}
                    {{ form_widget(form.telefon) }}
                </div>

                <div class="control-group">
                    {% if form_errors(form.tresc) %}
                        <span class="error">{{ form_errors(form.tresc) }}</span>
                    {% endif %}
                    {{ form_label(form.tresc) }}
                    {{ form_widget(form.tresc) }}
                </div>

                <div class="control-group">
                    {#
                    <div class="small">
                        {% if form_errors(form.zgoda_przetwarzanie_first) %}
                            <span class="error">{{ form_errors(form.zgoda_przetwarzanie_first) }}</span>
                        {% endif %}
                        <label>
                            {{ form_widget(form.zgoda_przetwarzanie_first) }}
                            {{ cms_config.get('txt_formularz_kontaktowy_zgoda_przetwarzanie_first') | nl2br }}
                        </label>
                    </div>
                    <div class="small">
                        {% if form_errors(form.zgoda_przetwarzanie_second) %}
                            <span class="error">{{ form_errors(form.zgoda_przetwarzanie_second) }}</span>
                        {% endif %}
                        <label>
                            {{ form_widget(form.zgoda_przetwarzanie_second) }}
                            {{ cms_config.get('txt_formularz_kontaktowy_zgoda_przetwarzanie_second') | nl2br }}
                        </label>
                    </div>
                    <div class="small">
                        {% if form_errors(form.zgoda_otrzymywanie) %}
                            <span class="error">{{ form_errors(form.zgoda_otrzymywanie) }}</span>
                        {% endif %}
                        <label>
                            {{ form_widget(form.zgoda_otrzymywanie) }}
                            {{ cms_config.get('txt_formularz_kontaktowy_zgoda_otrzymywanie') | nl2br }}
                        </label>
                    </div>
                    <div class="small">
                        {% if form_errors(form.zgoda_przesylanie) %}
                            <span class="error">{{ form_errors(form.zgoda_przesylanie) }}</span>
                        {% endif %}
                        <label>
                            {{ form_widget(form.zgoda_przesylanie) }}
                            {{ cms_config.get('txt_formularz_kontaktowy_zgoda_przesylanie') | nl2br }}
                        </label>
                    </div>
                    #}
                    <div class="small zgoda-info">{{ cms_config.get('txt_formularz_kontaktowy_zgoda_text') | raw }}</div>
                </div>

                <div class="control-group">
                    {% if form_errors(form.google_recaptcha) %}
                        <span class="error">{{ form_errors(form.google_recaptcha) }}</span>
                    {% endif %}
                    {{ form_label(form.google_recaptcha) }}
                    {{ form_widget(form.google_recaptcha) }}
                </div>

                <div class="control-group">
                    <input type="submit" class="button button1" value="Wyślij" />
                </div>

                {% do form['g-recaptcha-response'].setRendered %}
                {{ form_rest(form) }}

                {% if form_errors(form) %}
                    <div style="padding: 13px 0; color: red; width: 220px">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
            </form>
        {% endif %}
    </div>
{% endblock %}
