<div class="box highlights standardSlider">
    <div class="header">Highlights</div>
    
    <div class="slider cycle-slideshow" 
         data-cycle-fx="fade"
         data-cycle-timeout="5000"
         data-cycle-slides="> div.item"
         data-cycle-pager=".box.highlights .nav"
         data-cycle-pager-template="<span></span>">
        {% for art in highlights_news_articles %}
            <div class="item">
                {% set item_href = url('cms_elmat_live_shownews', {id: art.id, slug: art.slug}) %}
                {% set item_img = asset(art.getWebPathCrop() | imagine_filter('najnowsze_produkty')) %}

                <a class="image" href="{{ item_href }}">
                    <img src="{{ item_img }}"/>
                </a>
                
                <a class="name" href="{{ item_href }}">
                    {{ art.getTitle() | truncate(50) }}
                </a>
            </div>
        {% endfor %}
    </div>
    
    {% if highlights_news_articles | length > 1 %}
        <div class="nav"></div>
    {% endif %}
</div>
