{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block top_banner %}
    {% render controller('CmsElmatBundle:Default:main_slider') %}
{% endblock %}

{% if app.request.get('_domain_symbol_slug') %}
    {% set route_news = 'cms_elmat_aktualnosci_main' %}
    {% set route_news_show = 'cms_elmat_aktualnosci_show' %}
    {% set base_class = 'no-color' %}
    {% set left_class = 'news' %}
{% else %}
    {% set route_news = 'cms_elmat_live_main' %}
    {% set route_news_show = 'cms_elmat_live_shownews' %}
    {% set base_class = 'main' %}
    {% set left_class = '' %}
{% endif %}

{% block base_class %}{{ base_class }}{% endblock %}
{% block left_class %}{{ left_class }}{% endblock %}

{% block base_content %}

    {% if app.request.get('_domain_symbol_slug') == '' %}
        <div id="main-left">
            {% include 'CmsElmatBundle:Default:homepageNews.html.twig' with {
            'categories_arr': categories_arr,
            'news': news,
            'route_news_show': route_news_show
            } only %}

            {% include 'CmsElmatBundle:Default:homepageNewsProducts.html.twig' with {
            'offer_groups_arr': offer_groups_arr,
            'news_prod': news_prod,
            'route_news_show': route_news_show
            } only %}

            {% include 'CmsElmatBundle:Default:homepageSolutions.html.twig' with {
            'rozwiazania': rozwiazania
            } only %}

            {% include 'CmsElmatBundle:Default:homepageServices.html.twig' with {
            'uslugi': uslugi
            } only %}
        </div>

        <div id="main-right">
            {% if app.request.get('_domain_symbol2') == '' %}
                {% include 'CmsElmatBundle:Default:homepageRightNewsHighlights.html.twig' with {
                'highlights_news_articles': highlights_news_articles
                } only %}

                {% include 'CmsElmatBundle:Default:homepageRightRealizations.html.twig' with {
                'highlights_news_realizacje': highlights_news_realizacje
                } only %}

                {% include 'CmsElmatBundle:Default:homepageRightResources.html.twig' with {
                'resources': resources
                } only %}

                {% set quickLinkImage = cms_config.get('quick_link_image', '') %}
                {% set quickLinkUrl = cms_config.get('quick_link_url', '') %}

                {% if quickLinkUrl and quickLinkImage %}
                    <a class="quick-link" href="{{ quickLinkUrl }}">
                        <img src="{{ quickLinkImage }}" alt="" />
                    </a>
                {% endif %}

                {% set quickLink2Image = cms_config.get('quick_link_2_image', '') %}
                {% set quickLink2Url = cms_config.get('quick_link_2_url', '') %}

                {% if quickLink2Url and quickLink2Image %}
                    <a class="quick-link" href="{{ quickLink2Url }}">
                        <img src="{{ quickLink2Image }}" alt="" />
                    </a>
                {% endif %}

                {% include 'CmsElmatBundle:Default:homepageRightSales.html.twig' with {
                'news_highlights_nowosci': news_highlights_nowosci
                } only %}
            {% endif %}
        </div>
    {% else %}
        <div class="column">
            <div class="resizer">
                <div id="left" class="news">
                    <div class="news-fibrain">
                        <div class="item">
                            <div class="title">
                                <a href="{{ path('cms_elmat_aktualnosci_main') }}">{{ 'label.aktualnosci'|trans }}</a>
                            </div>

                            <div class="high-left">
                                {% for item in news %}
                                    {% if loop.index == 1 %}
                                        <div class="major">
                                            {% if item.getWebPath %}
                                                <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}"
                                                        title="{{ item.title }}"
                                                        class="image">
                                                    <img src="{{ asset( item.getWebPath() | imagine_filter('hp_aktualnosci2') ) }}" alt="{{ item.title }}" />
                                                </a>
                                            {% endif %}

                                            <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}"
                                                    title="{{ item.title }}" class="title">
                                                {{ item.title }}
                                            </a>

                                            <div class="line">
                                                <div class="date">
                                                    {{ item.publishDate|localizeddate('long', 'none') }}
                                                </div>
                                            </div>
                                            <div class="text">
                                                {{ item.description|truncate(150, true)|raw }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="minor">
                                    {% for item in news %}
                                        {% if loop.index >= 2 and loop.index <= 5 %}
                                            <div class="item">
                                                {% if item.getWebPath %}
                                                    <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" class="image">
                                                        <img src="{{ asset( item.getWebPathCrop() | imagine_filter('hp_aktualnosci2') ) }}" alt="{{ item.title }}" />
                                                    </a>
                                                {% endif %}
                                                <div class="rest">
                                                    <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" class="title">
                                                        {% if date(item.publishDate) > date("-7 days") %}
                                                            <span class="color_8">NOWE</span>
                                                        {% endif %}

                                                        {{ item.title }}
                                                    </a>
                                                    <div class="date">{{ item.publishDate|localizeddate('long', 'none') }}</div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <ul class="high-right">
                                {% for item in news %}
                                    {% if loop.index >= 6 %}
                                        <li>
                                            <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}">{{ item.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {% if artykuly_techniczne|length > 0 %}
                        <div class="news-suplies">
                        <div class="title">
                            {% set link_zas = cms_config.get('txt_link_zasoby_grupa_'~og_symbol, '') %}
                            <a {% if link_zas %}href="{{ link_zas }}" {% endif %}>Zasoby</a>
                            <a {% if link_zas %}href="{{ link_zas }}" {% endif %} class="lft">Czytaj więcej</a>
                        </div>
                        {% for item in artykuly_techniczne %}
                            {% if loop.index <= 8 %}
                                {% if loop.index0 > 0 and loop.index0 %4 == 0 %}
                                    </div>
                                    <div class="news-suplies">
                                    <div class="title"></div>
                                {% endif %}

                                <div class="item">
                                    {% if item.getWebPath() %}
                                        {#<a href="{{ path('cms_elmat_article_show', {type: item.type, slug: item.slug, id: item.id}) }}" class="image">#}
                                        <img src="{{ asset( item.getWebPathCrop() | imagine_filter('uslugi_main')) }}" />
                                        {#</a>#}
                                    {% endif %}
                                    {% if item.category and item.category.offerGroup %}
                                        <span class="label color_{{ item.category.offerGroup.id }}">{{ item.category.offerGroup.title }}</span>
                                    {% endif %}
                                    <a
                                            {% if item.plik %}
                                                href="{{ path('cms_elmat_plik_pobierz', {id: item.plik.id}) }}"
                                            {% endif %}
                                            class="title">{{ item.title }}</a>
                                    <div class="desc">
                                        {{ item.description|truncate(170, true, '...') }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                    <div class="clear"></div>
                </div>

                <div id="right">
                    {% set page_show_route = 'cms_elmat_page_show_' ~ app.request.get('_domain_symbol2') %}

                    {{ render(controller('CmsElmatBundle:Default:boxNajnowszeProdukty' ), {}) }}

                    {% if box_systemy|length > 0 %}
                        <div class="news-products">
                            <div class="title">{{ 'label.systemy'|trans }}</div>

                            <div class="slider cycle-slideshow"
                                    data-cycle-fx=fade
                                    data-cycle-timeout=2000
                                    data-cycle-slides="> div.item"
                                    data-cycle-prev=".nav-prev2"
                                    data-cycle-next=".nav-next2">

                                {% for art in box_systemy %}
                                    <div class="item">
                                        {% if art.getWebPath() %}
                                            <a class="image" href="{{ url(page_show_route, { id: art.id, slug: art.slug }) }}">
                                                <img src="{{ asset(art.getWebPath() | imagine_filter('najnowsze_produkty')) }}" />
                                            </a>
                                        {% endif %}

                                        <a class="name" href="{{ url(page_show_route, { id: art.id, slug: art.slug }) }}">
                                            {{ art.getTitle() }}
                                        </a>
                                        <div class="date">{{ art.publishDate|localizeddate('long', 'none') }}</div>
                                        <div class="text">
                                            {{ art.description|truncate(150, true)|raw }}
                                        </div>
                                    </div>
                                {% endfor %}

                                {% if box_systemy|length > 1 %}
                                    <div class="nav-prev2"></div>
                                    <div class="nav-next2"></div>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}

                    {% if box_szkolenia|length > 0 %}
                        <div class="news-products">
                            <div class="title">{{ 'label.szkolenia'|trans }}</div>

                            <div class="slider cycle-slideshow"
                                    data-cycle-fx=fade
                                    data-cycle-timeout=2000
                                    data-cycle-slides="> div.item"
                                    data-cycle-prev=".nav-prev3"
                                    data-cycle-next=".nav-next3">

                                {% for art in box_szkolenia %}
                                    <div class="item">
                                        {% if art.getWebPath() %}
                                            <a class="image" href="{{ url(page_show_route, { id: art.id, slug: art.slug }) }}">
                                                <img src="{{ asset(art.getWebPath() | imagine_filter('najnowsze_produkty')) }}" />
                                            </a>
                                        {% endif %}

                                        <a class="name" href="{{ url(page_show_route, { id: art.id, slug: art.slug }) }}">
                                            {{ art.getTitle() }}
                                        </a>
                                        <div class="date">{{ art.publishDate|localizeddate('long', 'none') }}</div>
                                        <div class="text">
                                            {{ art.description|truncate(150, true)|raw }}
                                        </div>
                                    </div>
                                {% endfor %}

                                {% if box_szkolenia|length > 1 %}
                                    <div class="nav-prev3"></div>
                                    <div class="nav-next3"></div>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
