<div class="box sales">
    <a class="header" href="{{ path('cms_elmat_live_category', {slug: 'promocje'}) }}">
        Wyprzedaże
    </a>
    
    {% for art in news_highlights_nowosci %}
        {% if loop.index <= 1 %}
           {#     {% if art.type == 'article' %}
                    {% set item_href = url('cms_elmat_article_show', {type: art.obj.type, id: art.obj.id, slug: art.obj.slug}) %}
                    {% set item_img =  asset(art.obj.getWebPath() | imagine_filter('najnowsze_produkty')) %}
                {% else %}#}
                    {% set item_href = url('cms_elmat_live_shownews', {id: art.id, slug: art.slug}) %}
                    {% set item_img = asset(art.getWebPath() | imagine_filter('homepage_sales')) %}
               {# {% endif %}#}

            <div class="item">
                <a class="image" href="{{ item_href }}">
                    <img src="{{ item_img }}" />
                    <span class="label">Oferta specjalna</span>
                </a>

                <a class="name" href="{{ item_href }}">
                    {{ art.getTitle() | truncate(50) }}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
