<div class="news products">
    <div class="news-title">
        <a href="{{ path('cms_elmat_live_offergroup', {slug: 'aktualnosci-systemowe'}) }}">Aktualności produktowe</a>
        
        <ul>
            {% for og in offer_groups_arr %}
                <li class="{% if loop.index == 1 %}selected{% endif %}">
                    <span>{{ og.title }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% for og in offer_groups_arr %}
        {% set news_og = [] %}

        {% for item in news_prod %}
            {% if item.offerGroup.id == og.id %}
                {% set news_og  = news_og|merge([item]) %}
            {% endif %}
        {% endfor %}

        <div class="category {% if loop.index == 1%}selected{% endif %}">
            <div class="main-item">
                {% for item in news_og[0:1] %}
                    {% if item.getWebPath %}
                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" title="{{ item.title }}" class="image">
                            <img src="{{ asset( item.getWebPathCrop() | imagine_filter('news_homepage') ) }}" alt="{{ item.title }}" />
                        </a>
                    {% endif %}

                    <div class="data">
                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" title="{{ item.title }}" class="name">
                            {{ item.title | truncate(35, true) }}
                        </a>

                        <div class="category-with-date">
                            <div class="date">
                                {{ item.publishDate | localizeddate('long', 'none') }}
                            </div>

                            <div class="clear"></div>
                        </div>

                        <div class="text">
                           {{ item.description | truncate(120, true) | raw }}
                        </div>

                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" class="more">
                            Więcej
                        </a>
                    </div>
                {% endfor %}
            </div>

            <ul class="rest-items">
                {% for item in news_og[1:] %}
                    <li>
                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" title="{{ item.title }}">
                            <span class="name">{{ item.title | truncate(60, true) }}</span>
                            <span class="date">{{ item.publishDate | localizeddate('long', 'none') }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
