<div class="homepage-box solutions">
    <a class="header" href="{{ path('cms_elmat_article_category_rozwiazania') }}">
        {{ 'label.rozwiazania' | trans }}
    </a>
    
    <div class="slider cycle-slideshow" 
         data-cycle-fx=carousel
            data-cycle-timeout=5000
            data-cycle-slides="> div.item">

        {% for item in rozwiazania %}
            <div class="item">
                <a href="{{ path('cms_elmat_article_show', {type: item.type, slug: item.slug, id: item.id}) }}" class="image">
                    <img src="{{ asset( item.getWebPathCrop() | imagine_filter('rozwiazania_main')) }}"/>
                </a>
                
                <a href="{{ path('cms_elmat_article_show', {type: item.type, slug: item.slug, id: item.id}) }}" class="title">
                    {{ item.title }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
