<div id="slider" class="cycle-slideshow" 
                 data-cycle-fx=fade
                 data-cycle-timeout={{ cms_config.get('ust_zmieniarka_strona_glowna_interwal', 8000) }}
                 data-cycle-slides="> .item"
                 data-cycle-pager-template="<span></span>"
                 >
    
    {% for photo in photos %}
        {% set textColorStyle = 'style="color: ' ~ photo.textColor ~ '"' %}
        
        {% if photo.link %}
        <a href="{{ photo.link }}" target="_blank" class="item">
        {% else %}
        <div class="item">
        {% endif %}
            <img src="{{ asset(photo.getWebPath() | imagine_filter('main_slider') )}}"/>
            <div class="cont">
                {% if photo.title %}
                    <div class="title" {% if photo.textColor %}{{ textColorStyle | raw }}{% endif %}>
                        {{ photo.title }}
                    </div>
                {% endif %}
                
                {% if photo.description %}
                    <div class="desc" {% if photo.textColor %}{{ textColorStyle | raw }}{% endif %}>
                        {{ photo.description | raw }}
                    </div>
                {% endif %}
                
                {#{% if photo.link %}
                    <a class="more" href="{{ photo.link }}" {% if photo.textColor %}{{ textColorStyle | raw }}{% endif %}>
                        Dowiedz się więcej
                    </a>
                {% endif %}#}
            </div>
        {% if photo.link %}
        </a>
        {% else %}
        </div>
        {% endif %}
    {% endfor %}
    
    {% if photos|length > 1 %}
        <div id="nav"></div>
    {% endif %}
    
    {% if app.request.get('_domain_symbol') != 'elmat' %}
        <a href="{{ path('cms_elmat_default_homepage') }}" title="" id="logo_elmat">
           <img src="{{ asset('bundles/cmselmat/images/logo_elmat.jpg') }}" alt=""/>
        </a>
    {% endif %}
    
    {% render controller("CmsElmatBundle:Default:domainsMenu") %}
</div>
