{#<li class="drop blue">
    <a href="#">Produkty</a>
    <div class="submenu">
        <ul class="cont">
            {% for og in offer_groups %}
                <li class="color_{{ loop.index }}">
                    <a {% if og.isEnabled() %}href="{{ path(og.getRoute()) }}"{% endif %} class="og-item og-item{% if loop.index > 3 %}2{% else %}1{% endif %}" title="{{ og.title }}">
                        {% if og.getWebPath('image') %}
                            {#<img src="{{ asset(og.getWebPath('image') |imagine_filter( loop.index > 3 ? 'offer_groups_menu_item2' : 'offer_groups_menu_item'  ) ) }}" alt="" />#}
                        {#{% endif %}
                        {{ og.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</li>#}