<!DOCTYPE html>
<html>
    <head>
    {% block head %}
    	{% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Description" content="{% block description %}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{% endblock %}" />
	{% endblock %}

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/select2.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/colorbox.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/datepicker.css') }}" type="text/css" media="all" />
        <link rel="shortcut icon" href="{{ asset('/favicon.ico') }} " />
        {% endblock %}
        {% block javascripts %}


        <script src="{{ asset('bundles/cmselmat/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.cycle2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.cycle2.carousel.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.colorbox-min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.colorbox.pl.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/select2.min.js') }}" type="text/javascript"></script>

        <script type="text/javascript">
            var cms_config = {
               {# 'ust_zmieniarka_strona_glowna_interwal': '{{ cms_config.get('ust_zmieniarka_strona_glowna_interwal', 8000) }}'#}
            };
            var url_training_calendar = '{{ path('cms_elmat_training_calendar') }}';
            var url_training_terminy = '{{ path('cms_elmat_training_terminy') }}';
        </script>

        <script src="{{ asset('bundles/cmselmat/js/scripts.js') }}" type="text/javascript"></script>
        {#<script src="{{ asset('bundles/cmselmat/js/jquery.uniform.min.js') }}"></script>#}


        <script type="text/javascript">
            $(document).ready(function() {


            });
        </script>
        {% endblock %}
    {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">

        ... void

    </body>
</html>