<a class="btn btn-small" href="{{ admin.generateObjectUrl('restore', object) }}"><i class="icon-arrow-left"></i> Przywróć</a>
<a class="btn btn-small" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="icon-remove"></i> Usuń na zawsze</a>