
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form_fieldset %}

	<fieldset>

		<legend>Główne informacje</legend>
		<div class="sonata-ba-collapsed-fields">
			{{ form_row(form['kolejnosc'])}}
		</div>

	</fieldset>

	<fieldset>
		<legend>Opcje dodatkowe</legend>
		<div class="sonata-ba-collapsed-fields">

			<div class="control-group">
				<label></label>
				<div class="controls">
				{% if  object.getWebPath() %}
					<a href="{{ asset(object.getWebPath())  }}">
						<img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
					</a>
				{% else %}
				{% endif %}
				</div>
			</div>
			{{ form_row(form['_file_image'])}}
			{{ form_row(form['_delete_file_image'])}}

			{{ form_row(form['show_highlights']) }}
		</div>
	</fieldset>



{# 	<fieldset>#}
{# 		<legend>{{ admin.trans('label.highlights') }}</legend>#}
{# 		<div class="sonata-ba-collapsed-fields">#}
{#  			{{ form_row(form['highlight_mainpage'])}}#}
{#  			{{ form_row(form['highlight_category'])}}#}
{# 	</fieldset>#}

{% endblock %}
