<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Elmat{% endblock %}</title>
        <meta name="Description" content="{% block description %}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{% endblock %}" />

        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300italic,300,400italic,500,500italic,700,700italic|Ubuntu+Condensed|Ubuntu+Mono:400,400italic,700,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/colorbox.css') }}" type="text/css" media="all" />
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('bundles/cmselmat/js/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.jcarousel.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.colorbox.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.colorbox.pl.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/cmselmat/js/scripts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.uniform.min.js') }}"></script>
        <!-- Hotjar Tracking Code for www.fibrain.pl -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:701171,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '486412334862695'); // Insert your pixel ID here.
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=486412334862695&ev=PageView&noscript=1"
        /></noscript>
        <!-- DO NOT MODIFY -->
        <!-- End Facebook Pixel Code -->

        <script type="text/javascript">
	$(document).ready(function() {


	});
	</script>
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
            {% block top %}
            <div id="top_container">
                <div id="top" >

                    <div id="bgtopright"></div>
                    <div id="bgtopleft"></div>
                    <div id="bgtopclip"></div>

                    <a href="{{ path('CmsElmatBundle_homepage') }}" title="" id="logo"><img src="{{ asset('bundles/cmselmat/images/logo.jpg') }}" alt=""/></a>

                    <div id="top_search">
                        <script type="text/javascript">
                            $(function(){
                                var top_search_keyword_default = $("#top_search_keyword").val();
                                $("#top_search_keyword").focus(function(){
                                   if($(this).val()==top_search_keyword_default)
                                   {
                                        $(this).val("");
                                   }
                                });
                                $("#top_search_keyword").blur(function(){
                                   if($(this).val()=="")
                                   {
                                        $(this).val(top_search_keyword_default);
                                   }
                                });
                            });
                        </script>

                        <form method="get" action="">
                            <input type="text" name="search_keyword" id="top_search_keyword" value="Szukaj..."/>
                            <input type="submit" name="search_submit" id="search_submit" value=""/>
                        </form>
                    </div>
                    <a href="" title="" id="sitemap_link"><img src="{{ asset('bundles/cmselmat/images/sitemap.png') }}" alt=""/></a>
                    <div id="change_lang">
                        <a href="{{ path('CmsElmatBundle_changelang', { '_locale': 'pl' }) }}" title=""><img src="{{ asset('bundles/cmselmat/images/lang_pl_act.png') }}" alt=""/></a>
                        <a href="{{ path('CmsElmatBundle_changelang', { '_locale': 'en' }) }}" title=""><img src="{{ asset('bundles/cmselmat/images/lang_en.png') }}" alt=""/></a>
                    </div>

                    {% render controller("CmsElmatBundle:Menu:managed", {location: 'menu_gorne1'}) %}

                    <div id="top-banner">
                        <img src="{{ asset('bundles/cmselmat/temp/top_banner.jpg') }}" alt=""/>
                    </div>
                    {% block top_flash %}
                    <div id="top-flash">
					    <img src="{{ asset('bundles/cmselmat/temp/top_flash.jpg') }}" alt=""/>
					</div>
                    {% endblock %}
                </div>
            </div>
            {% endblock %}

            {% block container %}
            <div id="container">
                <div id="base">

                	{% block breadcrumb %}
                                {{ wo_render_breadcrumbs() }}
                    {% endblock %}

                    <div class="page {% block page_class%}{% endblock %}">
                        {% block left_column %}
                        <div id="left_column">
                            {% block menu_left %}
                            <script type="text/javascript">
                                $(function(){
                                    $("#menu-left li a").click(function(){
                                        if($(this).siblings("ul").length)
                                        {
                                            if($(this).attr("href")=="")
                                            {
                                                $(this).siblings("ul").stop(true, true).slideToggle(500);
                                                return false;
                                            }
                                        }

                                    });
                                });
                            </script>

{#                             {% render "CmsElmatBundle:Menu:tree" %}#}

                            {% endblock %}
                        </div>
                        {% endblock %}
                        {% block right_column %}
                        <div id="right_column">




                            {% block content %}
                                <h1 class="page-header">{% block page_header %}{% endblock %}
                                <span class="page-header-right">{% block page_header_right %}{% endblock %}</span></h1>


                                {% block page_content %}
                                {% endblock %}
                            {% endblock %}

                        </div>
                        {% endblock %}



                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            {% endblock%}

            {% block footer %}
            <div id="footer_container">
                <div id="footer">
                    <div id="menu-bottom">
                    	<ul class="rowmenu">
                    		<li class="first"><a href="">O nas</a></li>
                    		<li><a href="">Wydarzenia</a></li>
                    		<li><a href="">Rozwiązania</a></li>
                    		<li><a href="">Produkty</a></li>
                    		<li><a href="">Wsparcie</a></li>
                    		<li class="last"><a href="">Kontakt</a></li>
                    	</ul>
                    	{#
                        <div class="col">
                            <h4>O firmie</h4>
                            <a href="" title="">Misja firmy</a>
                            <a href="" title="">Obszary działalności</a>
                            <a href="" title="">Nagrody i certyfikaty</a>
                            <a href="" title="">Rejestracja klienta</a>
                            <a href="" title="">Polityka jakości</a>
                            <a href="" title="">Kariera - oferty pracy</a>
                            <a href="" title="">Dotacja UE - Przetargi</a>
                        </div>
                        <div class="col">
                            <h4>Zakres działalności</h4>
                            <a href="" title="">Produkcja osprzętu światłowodowego</a>
                            <a href="" title="">Projektowanie systemów CWDM</a>

                        </div>
                        <div class="col">
                            <h4>Oferta</h4>
                            <a href="" title="">Sieci miedziane</a>
                            <a href="" title="">Szafy teleinformatyczne</a>

                        </div>
                        <div class="col">
                            <h4>Strefa klienta</h4>
                            <a href="" title="">Rejestracja klienta</a>
                            <a href="" title="">Twoje zamówienie</a>

                        </div>
                        <div class="col">
                            <h4>Zasoby</h4>
                            <a href="" title="">Katalogi produktowe</a>
                            <a href="" title="">Artykuły techniczne</a>

                        </div>
                        <div class="col">
                            <h4>Kontakt</h4>
                            <a href="" title="">Dane teleadresowe</a>
                            <a href="" title="">Oddziały</a>

                        </div>

                        #}
                    </div>
                    <div id="footer-right">
                    	<div id="footer_social">
                            <p class="header">Odwiedź nas na</p>
                            <a href="" title=""><img src="{{ asset('bundles/cmselmat/images/b-youtube.png') }}" alt=""/></a>
                            <a href="" title=""><img src="{{ asset('bundles/cmselmat/images/b-facebook.png') }}" alt=""/></a>
                        </div>
                        <div id="foter_newsletter">
                            <p class="header">Newsletter</p>
                            <form method="post" action="">
                                <script type="text/javascript">
                                    $(function(){
                                        var footer_newsletter_email_default = $("#footer_newsletter_email").val();
                                        $("#footer_newsletter_email").focus(function(){
                                           if($(this).val()==footer_newsletter_email_default)
                                           {
                                                $(this).val("");
                                           }
                                        });
                                        $("#footer_newsletter_email").blur(function(){
                                           if($(this).val()=="")
                                           {
                                                $(this).val(footer_newsletter_email_default);
                                           }
                                        });
                                    });
                                </script>
                                <div class="form-row">
                                    <input type="text" name="newsletter_email" id="footer_newsletter_email" value="Zapisz się do newslettera"/>
                                    <input type="submit" id="footer_newsletter_ok" value="OK"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="footer_row2">
                        <div id="copyright">
                            (c) 2012 P.H. ELMAT Sp. z o.o.<br/>
                            Wszelkie prawa zastrzeżone
                        </div>


                    </div>
                </div>
            </div>
            {% endblock %}
        {% endblock %}
    </body>
</html>


{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div>
            active lang: {{app.session.locale}}<br/>
            <a href="{{ path('CmsElmatBundle_changelang', { '_locale': 'pl' }) }}">PL</a> - <a href="{{ path('CmsElmatBundle_changelang', { '_locale': 'en' }) }}">EN</a>
        </div>

        {{ knp_menu_render('CmsElmatBundle:Builder:mainMenu') }}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}