{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Terminy i rejestracja - {{ parent() }}{% endblock %}
{% block description %}Terminy i rejestracja. {{ parent() }}{% endblock %}
{% block keywords %}Terminy i rejestracja,{{ parent() }}{% endblock %}

{% block page_header %}
    Terminy i rejestracja
{% endblock %}
    
    
{% block page_title %}

    <div class="product-title">
        <div class="head2">
            Terminy i rejestracja
        </div>
    </div>

{% endblock %}
    

{% block left_column_inner2 %}
    <div class="calendar">
        <div class="title">{{ 'label.kalendarz_szkolen'|trans }}</div>
        {{ render(controller('CmsElmatBundle:Training:calendar', {options: {header: false }})) }}
     </div>
{% endblock %}

{% block page_class %}page-text page-terms{% endblock %}

{% block page_content %}
    <script type="text/javascript">
        $(function(){

            // $(".terminy_table th select").uniform();
            $('.terminy_table th select').change(function(){
                 $('#terminy_filters').submit();
            });
        });
    </script>


     <form id="terminy_filters" action="{{ path("cms_elmat_training_terminy") }}" method="post" {{ form_enctype(form_filters) }} >
    <table class="styled_table terminy_table" cellpadding="0" cellspacing="0">
        <thead>

            <tr>
                <th class="col1">
                    {{ form_widget(form_filters['rodzaj']) }}
                </th>
                <th class="col2">
                    {{ form_widget(form_filters['szkolenie']) }}
                </th>
                <th class="col3">
                    {{ form_widget(form_filters['miasto']) }}
                </th>
                <th class="col4">
                     {{ form_widget(form_filters['data']) }}
                </th>
                <th class="col5">
                    {{ form_widget(form_filters['cena']) }}
                </th>
                <th class="col6" style="text-align:center">
                    {% if terminy_filters|length > 0 %}
                    <a href="{{ path('cms_elmat_training_terminy') }}?all">wyczyść filtrowanie</a>
                    {% endif %}
                    <span style="display:none">
                       {{ form_widget(form_filters['data_prec']) }}
                    </span>
                </th>
            </tr>
            {{ form_rest(form_filters) }}

        </thead>
        <tbody>
           {% if terminy|length > 0 %}
           {% for item in terminy %}
            {% set can_singup = true %}
            {% if item.startDate < date_now %}
            {% set can_singup = false %}
            {% endif %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }} {% if not can_singup or item.brakMiejsc %}cant_singup{%endif %}">
                <td class="col1">
                    {% if item.training.category %}
                    {{ item.training.category.title }}
                    {% endif %}
                </td>
                <td class="col2"><a href="{{ path('cms_elmat_training_show', {slug: item.training.slug }) }}" title="{{ item.training.title }}">{{ item.training.title }}</a></td>
                <td class="col3">{{ item.city.title }}</td>
                <td class="col4 centered">{{ item.startDate|date("d.m.Y") }}</td>
                <td class="col5 centered">{{ item.price }}</td>
                <td class="col6"><a class="apply_button" 
                    {% if can_singup and not item.brakMiejsc %}
                       href="{{ path('cms_elmat_training_register', {slug: item.training.slug, termin_id: item.id }) }}"
                    {%endif %} 
                       title="{% if not can_singup %}Po terminie{% elseif item.brakMiejsc %}Brak miejsc{% endif %}">Zapisz się!</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="">
                <td colspan="6">Brak wyników <a href="{{ path('cms_elmat_training_terminy') }}?all">pokaż wszystkie</a></td>
            </tr>
            {% endif %}

        </tbody>
    </table>
         
       
     </form>
{% endblock %}

