
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/cmselmat/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

{%  endblock %}

{% block form_fieldset2 %}


	{{ form_row(form['title'])}}
	{{ form_row(form['content'])}}
	{{ form_row(form['published'])}}
	{{ form_row(form['publishDate'])}}



 {% endblock %}