{% if pliki is defined and pliki|length > 0 %}
    <div class="product-download">
        <div class="header">Pliki do pobrania</div>
        <div class="cont">
            {% for plik in pliki %}
                <a href="{{ path('cms_elmat_plik_pobierz', {id: plik.id}) }}" class="item {{ plik.rozszerzenie }}" title="{{ plik.getNazwa() }}">
                    {{ plik.getNazwa()|truncate(18) }} ({{ plik.getRozmiarMBFormat() }})
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
