
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/cmselmat/js/jcrop/css/jquery.Jcrop.css')  }}" type="text/css" />
{% endblock %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/cmselmat/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

	<script src="{{ asset('bundles/cmselmat/js/jcrop/js/jquery.Jcrop.js') }}" type="text/javascript"></script>


	{% if object.id is defined and object.id > 0 %}
    <script type="text/javascript">

    jQuery(function($){

      $('.tabs').tabs();
      $('#obrazek-przytnij').Jcrop({
    	    aspectRatio:  231/92,
    	     onSelect:	 croppedAction
          }
      );

    });

    var crop = null;

    function croppedAction(c) {
    	crop = c;
    	$('#przytnij button').removeAttr('disabled');
    }

    function zapiszKadr() {
        $.ajax({
            type: 'POST',
            url:  '{{ admin.generateUrl('kadruj', {id: object.id}) }} ',
            data: {
                crop: crop
            },
            success: function(ret) {
                $('#przytnij-wynik').html(ret);
            }
        });
    }

    </script>
    {% endif %}

{%  endblock %}

{% block sonata_pre_fieldsets %}

{#
{{ form_widget(form.translations, {'fields': [form['title']]}) }}
#}

{% endblock %}

{% block form_fieldset %}




<fieldset>
		<legend>Główne informacje</legend>
		<div class="sonata-ba-collapsed-fields">
		    {{ form_row(form['name'])}}
		    {{ form_row(form['content'])}}
		    {{ form_row(form['content_short'])}}
		    {{ form_row(form['offer_group'])}}
		    {{ form_row(form['template'])}}
		    {{ form_row(form['parent']) }}

			<div class="control-group">

				<div class="controls">
				{% if object.getWebPath() %}

        		<ul class="nav nav-tabs pills">
        		  <li class="active"><a data-toggle="tab" href="#obrazek">Obrazek</a></li>
        		  <li><a data-toggle="tab" href="#przytnij">Kadrowanie</a></li>
        		</ul>
        		<div class="tab-content">

                    <div class="tab-pane active" id="obrazek">
                      <a href="{{ asset(object.getWebPathCrop())  }}">
        				<img src="{{ asset(object.getWebPathCrop() | imagine_filter('thumb_admin') ) }}" />
        				</a>
                    </div>

                    <div class="tab-pane" id="przytnij">
                    	<div id="przytnij-wynik"></div>
                    	<button class="btn" name="btn_update_and_edit" onclick="zapiszKadr();return false;" disabled >Zapisz</button>
                    	<br />
                      	<img id="obrazek-przytnij" src="{{ asset(object.getWebPath()) }}" />
                    </div>

                  </div>


        		{% else %}
        		{% endif %}

{# 				{% if object.getWebPath  %}#}
{# 					<a href="{{ asset(object.getWebPath())  }}">#}
{# 						<img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />#}
{# 					</a>#}
{# 				{% else %}#}
{# 				{% endif %}#}
				</div>
			</div>
            {{ form_row(form['_file_image'])}}
			{{ form_row(form['_delete_file_image'])}}
		</div>
	</fieldset>



	<fieldset>
		<legend>SEO</legend>
		<div class="sonata-ba-collapsed-fields">
			{{ form_row(form['slug'])}}
			{{ form_row(form['updated'])}}
		</div>
	</fieldset>




 {% endblock %}