{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.lvl > 0 %}
        <div class="btn-group">
            <a class="btn btn-small" href="{{ admin.generateObjectUrl('move_down', object, {id: object.id}) }}" title="przesuń w dół">
                <i class="icon-arrow-down"></i>
            </a>
            <a class="btn btn-small" href="{{ admin.generateObjectUrl('move_up', object, {id: object.id}) }}" title="przesuń w górę">
                <i class="icon-arrow-up"></i>
            </a>
        </div>
    {% else %}
        {{ object.kolejnosc }}
    {% endif %}
{% endblock %}