{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Logowanie - Strefa klienta - {{ parent() }}{% endblock %}
{% block description %}Logowanie - Strefa klienta. {{ parent() }}{% endblock %}
{% block keywords %}Logowanie,Strefa klienta,{{ parent() }}{% endblock %}

{% block page_class %}page-single padding-bottom{% endblock %}

{% block base_class %}no-color{% endblock %}

{% block breadcrumb %}
    <div id="login">
        Strefa klienta
    </div>
{% endblock %}

{% block page %}


{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

    <div id="left">
        
        <div class="login-header">Logowanie do systemu</div>
        {% include 'CmsElmatBundle:UserZone:_form_login.html.twig' %}
        
    </div>


   {# <div class="tabbed">
        <div class="tabs">
            <div class="tab width1 upper current">Posiadasz konto? <strong>Zaloguj się</strong></div>
        </div>
        <div class="tabc current logowanie_box">

            <p>{{ cms_config.get('txt_strefa_klienta_logowanie') | raw }}</p>

            {% include 'CmsElmatBundle:UserZone:_form_login.html.twig' %}

        </div>
    </div>#}

<div id="right">
    <div class="register-box">
        <span>Nowy klient? </span>
        <span>Zarejestruj się!</span>
        <a class="register-button" href="{{ path('cms_elmat_userzone_register') }}">Rejestracja</a>
    </div>
</div>
{#
<div class="tabbed">
        <div class="tabs">
            <div class="tab width1 upper current">Nowy klient? <strong>Zarejestruj się</strong></div>
        </div>
        <div class="tabc current logowanie_box">

            <p>{{ cms_config.get('txt_strefa_klienta_rejestracja') | raw }}</p>

            <div class="center margin" style="padding: 20px">
                <a href="{{ path('cms_elmat_userzone_register') }}" class="button button1 button1b">Zarejestruj się</a>
            </div>

        </div>
    </div>
#}
{% endblock %}