{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Ustawienia - {{ parent() }}{% endblock %}
{% block description %}Ustawienia. {{ parent() }}{% endblock %}
{% block keywords %}Ustawienia,{{ parent() }}{% endblock %}

{% block page_header %}
	Ustawienia
{% endblock %}

{% block page_class %}page-products page-text{% endblock %}

{% block page_content %}
 <div class="tabbed">
    <div class="tabs">
        <div class="tab current">Zmiana hasła</div>
    </div>

    <div class="tabc current">

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}


    {% set form = form_haslo %}
        <form id="form_register" action="{{ path("cms_elmat_userzone_settings") }}" method="post" {{ form_enctype(form) }}  >

        <div class="form form1">

            <div class="control-group">
                {{ form_errors(form.oldPassword) }}
                {{ form_label(form.oldPassword) }}
                <div class="controls">
                    {{ form_widget(form.oldPassword) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_errors(form.newPassword.first) }}
                {{ form_label(form.newPassword.first) }}
                <div class="controls">
                    {{ form_widget(form.newPassword.first) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_errors(form.newPassword.second) }}
                {{ form_label(form.newPassword.second) }}
                <div class="controls">
                    {{ form_widget(form.newPassword.second) }}
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="" style="text-align: right; padding: 20px 10px">
                 <input type="submit" class="button button1" value="Zmień hasło">
            </div>
        </div>
    </form>

    </div>

</div>

{% endblock %}