{% extends 'CmsElmatBundle:Training:show.html.twig' %}

{% block page_class %}page-products page-text{% endblock %}



{% block page_header %}
    Rejestracja na szkolenie: {{ training.title }}
{% endblock %}

{% block page_content %}

<style type="text/css">
    
    @media print {
        
        #right,
        #top,
        #footer,
        #container #base #left .buttons,
        #printbtn {
            display:none;
        }
        
        #container #base #left .user-list-header .user .item .row + .row,
        #container #base #left .user-list-header h3,
        #container #base #left .user-list-header .user .item .row .cell + .cell,
        #container #base #left .user-list-header {
            font-family: Arial;
        }
        
        
    }
    
</style>
<script type="text/javascript">
    
    {% if app.request.get('print') == '1' %}
        
        $(function(){
           //  window.print();
        });
        
    {% endif %}
    
</script>


<div class="user-list-header">
    
    <div>
       Termin: {{ termin.startDate|date('d.m.Y') }} {% if termin.startDate != termin.endDate %} - {{ termin.endDate|date('d.m.Y') }} {% endif %}
    </div>
    <div>
        Szkolenie: {{ training.title }}
    </div>
   <div class="clear"></div>
   <h3>Dane firmy</h3>
   <div class="clear"></div>

</div>

<div class="user-list-header">
   <div class="data">
       <div class="item">
           <div>Login:</div>
           <div>{{ user.username }}</div>
       </div>
       <div class="item">
           <div>Adres e-mail:</div>
           <div>{{ user.email }}</div>
       </div>
       <div class="item">
           <div>Nazwa firmy:</div>
           <div>{{ user.firma }}</div>
       </div>
       <div class="item">
           <div>Ulica:</div>
           <div>{{ user.ulica }}</div>
       </div>
       <div class="item">
           <div>Kod pocztowy:</div>
           <div>{{ user.kodPocztowy }}</div>
       </div>
       <div class="item">
           <div>Miasto:</div>
           <div>{{ user.miasto }}</div>
       </div>
       <div class="item">
           <div>NIP:</div>
           <div>{{ user.nip }}</div>
       </div>
       <div class="item">
           <div>Telefon:</div>
           <div>{{ user.telefon }}</div>
       </div>
       <div class="item">
           <div>Fax:</div>
           <div>{{ user.fax }}</div>
       </div>
   </div>
   <div class="clear"></div>
   <h3>Uczestnicy szkolenia</h3>
   <div class="clear"></div>
</div>

<div class="user-list-header">
   <div class="user">
       {% for part in registration.getTrainingParticipants() %}
       <div class="item">
           <div class="row">
               <div class="cell">Imię i nazwisko</div>
               <div class="cell">E-mail</div>
               <div class="cell">Telefon</div>
               <div class="clear"></div>
           </div>
           <div class="row">
               <div class="cell">{{ part.nazwa }}</div>
               <div class="cell">{{ part.email }}</div>
               <div class="cell">{{ part.telefon }}</div>
               <div class="clear"></div>
           </div>
       </div>
       {% endfor %}
   </div>
   <div class="clear"></div>
   <h3>Podsumowanie</h3>
   <div class="clear"></div>
</div>

  <div class="user-list-header last">
       <div class="data">
           <div class="item">
               <div>Rodzaj szkolenia:</div>
               <div>{{ training.category }}</div>
           </div>
           <div class="item">
               <div>Temat szkolenia:</div>
               <div>{{ training.title }}</div>
           </div>
           <div class="item">
               <div>Data szkolenia:</div>
               <div>{{ termin.startDate|date('d.m.Y') }} {% if termin.startDate != termin.endDate %} - {{ termin.endDate|date('d.m.Y') }} {% endif %}</div>
           </div>
           <div class="item">
               <div>Cena jednostkowa za szkolenie:</div>
               <div>{{ termin.price * 1 }} PLN</div>
           </div>
           <div class="clear"></div>
           <div class="anomaly">
               <div class="item">
                   {{ registration.uwagi }}
                   
               </div>
               <div class="item">
                   <div>Liczba uczestników:</div>
                   <div>{{ registration.getTrainingParticipants() | length }}</div>
               </div>
               <div class="item">
                   <div>Cena sumaryczna za szkolenie:</div>
                   <div>{{ (registration.getTrainingParticipants() | length) * termin.price  }} PLN</div>
               </div>
           </div>
           <div class="clear"></div>
       </div>
   </div>  


       <div class="clear"></div>

       <div class="buttons">
          
           <a class="next" onclick="window.print();" > Wydrukuj</a>
       </div>


    

{% endblock %}