{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Moje szkolenia - {{ parent() }}{% endblock %}

{% block page_header %}
    Moje szkolenia
{% endblock %}

{% block left_column_inner2 %}
    <div class="calendar">
        <div class="title">{{ 'label.kalendarz_szkolen'|trans }}</div>
        {{ render(controller('CmsElmatBundle:Training:calendar', {options: {header: false }})) }}
     </div>
{% endblock %}

{% block page_class %}page-text page-terms{% endblock %}

{% block page_content %}
    

    <table class="styled_table terminy_table">
        <thead>

            <tr>
                <th class="col2">
                    Szkolenie
                </th>
                <th class="col1">
                    Status
                </th>
                <th class="col3">
                    Status płatności
                </th>
                <th class="col4">
                    Termin
                </th>
                
                <th class="col6">Szczegóły rejestracji</th>
            </tr>

        </thead>
        <tbody>
            {% if registrations|length > 0 %}
            {% for item in registrations %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                {% set training_date = item.trainingDate %}
                {% set training = training_date.training %}
            
                <td><a href="{{ path('cms_elmat_training_show', {slug: training.slug }) }}" title="{{ training.title }}">{{ training.title }}</a></td>
                <td> {{ item.statusTxt }} </td>
                <td> {{ item.statusPlatnosciTxt }} </td>
                <td class="centered">{{ training_date.startDate|date("d.m.Y") }}</td>
               
                <td><a class="" href="{{ path('cms_elmat_userzone_szkolenie_rejestracja', {rejestracja_id: item.id }) }}" title="">Pokaż</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="">
                <td colspan="6">Brak rejestracji. <a href="{{ path('cms_elmat_training_terminy') }}?all">Przejrzyj dostępne szkolenia i terminy</a></td>
            </tr>
            {% endif %}

        </tbody>
    </table>

{% endblock %}

