
    <div class="slider">
		{% for n in news_highlight %}
        <div class="item">
            <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" class="image">
                {% if n.getWebPath %}
        	    <img src="{{ asset( n.getWebPath() | imagine_filter('aktualnosci_lista') ) }}" alt="{{ n.title }}"/>
        		{% endif %}
            </a>
            <div class="rest">
                <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" class="title">
                    {#<span class="color_8">NOWE</span>#}
                    {{ n.title }}
                </a>
                <div class="date">{{ n.publishDate|localizeddate('long', 'none') }}</div>
                <div class="text">
                   {{ n.description|truncate(420, true) }}
                </div>
            </div>
        </div>
    
    
		
		{% endfor %}

        {#{% if news_highlight|length > 1 %}
		<div class="nav-prev"></div>
        <div class="nav-next"></div>
        {% endif %}#}

	</div>