{% extends 'CmsElmatBundle:Live:category_view.html.twig' %}

{% block title %}{{ category.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ category.title }}. {{ parent() }}{% endblock %}
{% block keywords %}{{ category.title }},{{ parent() }}{% endblock %}

{% block category_title %}
{{ category.title }}
{% endblock %}