{% extends 'CmsElmatBundle:Live:category_view.html.twig' %}

{% block title %}{{ offer_group.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ offer_group.title }}. {{ parent() }}{% endblock %}
{% block keywords %}{{ offer_group.title }},{{ parent() }}{% endblock %}

{% block category_title %}
	{{ offer_group.title }}
{% endblock %}