{% if admin.hasroute('preview') and admin.id(object) and admin.isGranted('VIEW', object) %}
    <a class="btn sonata-action-element preview-link" href="{{ admin.generateObjectUrl('preview', object) }}">
        <i class="icon-file"></i>
        Podgląd
{% endif %}