{% for field_description in admin.list.elements %}
    {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
        {# Action buttons disabled in ajax view! #}
    {% else %}
        {% if object.recycled is not defined or object.recycled is null %}
            {{ object|render_list_element(field_description) }}
        {% endif %}
    {% endif %}
{% endfor %}