{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/preview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function addObject() {
            var prototype = $('#powiazane-table').attr('data-prototype');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on the current collection's length.
            var newForm = prototype.replace(/__name__/g, $('#powiazane-table tr').size() - 1);

            // Display the form in the page in an li, before the "Add a tag" link li

            $('#powiazane-table tr.header').after(newForm);
        }

        $(document).on('click', '.preview-link', function (event) {
            event.preventDefault();

            var url = $(this).attr('href');

            $.ajax({
                type: "post",
                url: url,
                success: function (data, status, object) {
                    $('#preview-modal').find('.modal-body').html(data);
                    $('#preview-modal').modal();
                },
                error: function (data, status, object) {
                    console.log(data);
                }
            });
        })
    </script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:preview_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form_fieldset %}
    {% set powiazane_prototype = (
    '<tr>
			<td>'~ form_widget(form.powiazane.vars.prototype._delete) ~'</td>
			<td>'~ form_widget(form.powiazane.vars.prototype.powiazany) ~'</td>
			<td>'~ form_widget(form.powiazane.vars.prototype.kolejnosc) ~'</td>
		</tr>'
    ) %}

    <button onclick="addObject(); return false;" class="btn">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" />
        dodaj powiązany
    </button>

    <br />
    <br />

    <table id="powiazane-table" class="table table-condensed table-bordered bordered-table" data-prototype="{{ powiazane_prototype }}">
        <tr class="header">
            <th>usuń</th>
            <th>Produkt powiązany</th>
            <th>Kolejnosc</th>
        </tr>
        {% for powiazany in form.powiazane %}
            <tr>
                <td>{{ form_widget(powiazany._delete) }}</td>
                <td>{{ form_widget(powiazany.powiazany) }}</td>
                <td>{{ form_widget(powiazany.kolejnosc) }}</td>
            </tr>
        {% endfor %}
    </table>

    {% do form['powiazane'].setRendered %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="preview-modal" class="modal hide fade modal-lg" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Podgląd produktu</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
