{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/preview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function addObject() {
            var prototype = $('#objects-table').attr('data-prototype');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on the current collection's length.
            var newForm = prototype.replace(/__name__/g, $('#objects-table tr').size() - 1);

            // Display the form in the page in an li, before the "Add a tag" link li

            $('#objects-table tr.header').after(newForm);
        }

        function openKCFinder(field) {
            window.KCFinder = {
                callBack: function (url) {
                    field.value = url;
                    window.KCFinder = null;

                    $.ajax({
                        type: 'POST',
                        url: '{{ path('cms_elmat_default_fileinfo') }}',
                        data: {
                            path: field.value
                        },
                        dataType: 'json',
                        success: function (ret) {
                            _par = $(field).parent().parent();
                            console.log(ret);
                            if (typeof ret == 'object') {
                                _par.find('.input-nazwa').val(ret['name']);
                                _par.find('.input-rozszerzenie').val(ret['ext']);
                                _par.find('.input-rozmiar').val(ret['size']);
                                field.value = ret.path;
                            }
                        }
                    });

                }
            };
            window.open('{{ path('cms_elmat_default_browse') }}' + '?langCode=pl', 'kcfinder_textbox',
                    'status=0, toolbar=0, location=0, menubar=0, directories=0, ' +
                    'resizable=1, scrollbars=0, width=1000, height=500'
            );
        }

        $(document).on('click', '.preview-link', function (event) {
            event.preventDefault();

            var url = $(this).attr('href');

            $.ajax({
                type: "post",
                url: url,
                success: function (data, status, object) {
                    $('#preview-modal').find('.modal-body').html(data);
                    $('#preview-modal').modal();
                },
                error: function (data, status, object) {
                    console.log(data);
                }
            });
        })
    </script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:preview_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form_fieldset %}
    {% set object_prototype = (
        '<tr>
			<td>'~ form_widget(form.pliki.vars.prototype._delete)  ~'</td>
			<td>'~ form_widget(form.pliki.vars.prototype.kolejnosc) ~'</td>
			<td>'~ form_widget(form.pliki.vars.prototype.sciezka, {attr: {'readonly':'readonly', 'onclick' : 'openKCFinder(this)'}}) ~'</td>
			<td>'~ form_widget(form.pliki.vars.prototype.nazwa, {attr: {class: 'input-nazwa'}}) ~'</td>
			<td>'~ form_widget(form.pliki.vars.prototype.rozszerzenie, {attr: {class: 'input-rozszerzenie'}}) ~'</td>
			<td>'~ form_widget(form.pliki.vars.prototype.rozmiar, {attr: {class: 'input-rozmiar'}}) ~'</td>
	    </tr>'
    ) %}

    <button onclick="addObject(); return false;" class="btn">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" />
        dodaj
    </button>

    <br />
    <br />

    <table id="objects-table" class="table table-condensed table-bordered bordered-table" data-prototype="{{ object_prototype }}">
        <tr class="header">
            <th>usuń</th>
            <th>Kolejnosc</th>
            <th>Plik</th>
            <th>Nazwa</th>
            <th>Rozszerzenie</th>
            <th>Rozmiar</th>
        </tr>
        {% for obj in form.pliki %}
            <tr>
                <td>
                    {{ form_widget(obj._delete) }}
                </td>
                <td>
                    {{ form_widget(obj.kolejnosc) }}
                    {{ form_widget(obj.updated) }}
                </td>
                <td>{{ form_widget(obj.sciezka, {attr: {'readonly':'readonly', 'onclick' : 'openKCFinder(this)'}}) }}</td>
                <td>{{ form_widget(obj.nazwa, {attr: {class: 'input-nazwa'}}) }}</td>
                <td>{{ form_widget(obj.rozszerzenie, {attr: {class: 'input-rozszerzenie'}}) }}</td>
                <td>{{ form_widget(obj.rozmiar, {attr: {class: 'input-rozmiar'}}) }}</td>
            </tr>
        {% endfor %}
    </table>

    {% do form['pliki'].setRendered %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="preview-modal" class="modal hide fade modal-lg" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Podgląd produktu</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
