<div class="product-title">
    <div class="head {% if not product.code %}head2{% endif %}">
        {{ product.title }}
    </div>
    {% if product.code %}
        <div class="desc">{{ product.code }}</div>
    {% endif %}

    <ul class="product-menu">
        <li><a href="#opis">Opis</a></li>

        {% if product.getZdjecia|length > 0 %}
            <li><a href="#zdjecia">Zdjęcia</a></li>
        {% endif %}
        {% if product.pliki|length %}
            <li><a href="#do-pobrania" class="download">Pliki do pobrania</a></li>
        {% endif %}
    </ul>
</div>
<a name="opis"></a>
{% if  product.content %}
    <div class="product-description">
        {{ product.content|raw }}
    </div>
{% endif %}
{% if product.getWebPath() or product.getZdjecia|length > 0 or product.pliki|length > 0 %}
    {% if product.pliki|length > 0 %}
        <div class="product-download {{ product_download_class|default('') }}">
            <a name="do-pobrania"></a>
            <div class="header">Pliki do pobrania</div>

            <div class="cont">
                {% for plik in product.pliki %}
                    <a href="{{ path('cms_elmat_plik_pobierz', {id: plik.id}) }}" class="item {{ plik.rozszerzenie }}" title="{{ plik.getNazwa() }}">
                        {{ plik.getNazwa()|truncate(18) }} ({{ plik.getRozmiarMBFormat() }})
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if product.getWebPath() or product.getZdjecia|length > 0 %}
        <a name="zdjecia"></a>
        <div class="product-photos">
            <div class="header">Zdjęcia</div>

            <ul id="product-slider"
                    {% if product.getZdjecia | length > 3 %}
                        class="cycle-slideshow"

                        data-cycle-fx=carousel
                        data-cycle-timeout=0
                        data-cycle-slides="> li"
                        data-cycle-next="#next3"
                        data-cycle-prev="#prev3"
                    {% endif %}
            >
                {% if product.getWebPath() %}
                    {% set item = product %}
                    <li>
                        <a class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                            <img src="{{ asset( item.getWebPath() | imagine_filter('product_gallery') ) }}" alt="" />
                        </a>
                    </li>
                {% endif %}

                {% for item in product.getZdjecia %}
                    <li>
                        <a class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                            <img src="{{ asset( item.getWebPath() | imagine_filter('product_gallery') ) }}" alt="" />
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% if product.getZdjecia | length > 3 %}
                <div id="prev3"></div>
                <div id="next3"></div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

<div class="tabs">
    {% for tab in product.tabs %}
        {% if tab.description or ( tab.type == 'produkty_powiazane' and product.powiazane | length > 0 ) %}
            <div id="prod-tab-{{ tab.id }}" name="prod-tab-{{ tab.id }}">
                <div class="product-articles ">
                    <div class="header">{{ tab.name }}</div>
                </div>
                {% if tab.description %}
                    <div class="product-description">
                        {{ tab.description|raw }}
                    </div>
                {% endif %}

                {% if ( tab.type == 'produkty_powiazane' and product.powiazane | length > 0 ) %}
                    {% if product.powiazane | length > 0 %}
                        <div class="powiazane">
                            {% set index = 0 %}
                            <div class="row">
                                {% for powiazany in product.powiazane %}
                                {% if powiazany.powiazany %}
                                {% set prod = powiazany.powiazany %}

                                {% if index > 0 and index %4 == 0 %}
                            </div>
                            <div class="row">
                                {% endif %}

                                {% set index = index + 1 %}
                                <div class="item">
                                    <a class="image" href="{{ path('cms_elmat_product_show', {id: prod.id, slug: prod.slug}) }}" title="{{ prod.title }}">

                                        {% if prod.getWebPathCrop('image_thumb') %}
                                            <img src="{{ asset( prod.getWebPathCrop('image_thumb') | imagine_filter('product_small') ) }}" alt="" />
                                        {% elseif prod.getWebPathCrop('image') %}
                                            <img src="{{ asset( prod.getWebPathCrop('image') | imagine_filter('product_small') ) }}" alt="" />
                                        {% endif %}
                                    </a>

                                    <a class="title" href="{{ path('cms_elmat_product_show', {id: prod.id, slug: prod.slug}) }}" title="{{ prod.title }}">
                                        {{ prod.title }}
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
