{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/js/jcrop/css/jquery.Jcrop.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cmselmat/js/jcrop/js/jquery.Jcrop.js') }}" type="text/javascript"></script>

    {% if object.id is defined and object.id > 0 %}
        <script type="text/javascript">
            jQuery(function ($) {
                $('.tabs').tabs();

                $('#obrazek-przytnij').Jcrop({
                    onSelect: croppedAction
                });
            });

            var crop = null;

            function croppedAction(c) {
                crop = c;
                $('#przytnij button').removeAttr('disabled');
            }

            function zapiszKadr() {
                $.ajax({
                    type: 'POST',
                    url: '{{ admin.generateUrl('kadruj', {id: object.id}) }} ',
                    data: {
                        crop: crop
                    },
                    success: function (ret) {
                        $('#przytnij-wynik').html(ret);
                    }
                });
            }
        </script>
    {% endif %}
{% endblock %}

{% block form_fieldset %}
    <div class="control-group">
        <div class="controls">
            {% if object.getWebPath() %}
                <ul class="nav nav-tabs pills">
                    <li class="active"><a data-toggle="tab" href="#obrazek">Obrazek</a></li>
                    <li><a data-toggle="tab" href="#przytnij">Kadrowanie</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="obrazek">
                        <a href="{{ asset(object.getWebPathCrop()) }}">
                            <img src="{{ asset(object.getWebPathCrop() | imagine_filter('thumb_admin') ) }}" />
                        </a>
                    </div>

                    <div class="tab-pane" id="przytnij">
                        <div id="przytnij-wynik"></div>
                        <button class="btn" name="btn_update_and_edit" onclick="zapiszKadr();return false;" disabled>Zapisz</button>
                        <br />
                        <br />
                        <img id="obrazek-przytnij" src="{{ asset(object.getWebPath()) }}" />
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {{ form_row(form['_file']) }}
    {{ form_row(form['podpis']) }}
    {{ form_row(form['kolejnosc']) }}
    {% do form['updated_at'].setRendered %}
{% endblock %}