{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ category.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ category.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ category.keywords|default(parent()) }}{% endblock %}

{% block page_class %}{% endblock %}

{% block page_header %}
    {{ category.title }}
{% endblock %}

{% block breadcrumb %}
    <div id="tech-articles">
        Zasoby
    </div>

    <div class="clear"></div>
{% endblock %}

{% block content %}
    <div class="title">{{ category.title }}</div>

    {% if category.content %}
        <div class="site-description">
            {{ category.content | raw }}
        </div>
    {% endif %}

    {% set n = 0 %}
    <div class="row">
    {% for zasob in zasoby %}

        {% if n > 0 and n % 4 == 0 %}
            </div>
            <div class="row">
        {% endif %}

        {% set n= n+1 %}
        <div class="item" style="">
            <a class="image">
                {% if zasob.getWebPath() %}
                    <img src="{{ asset( zasob.getWebPath() | imagine_filter('zasob_list') ) }}" />
                {% endif %}
                {% if offer_groups_labels and zasob.category.offerGroup %}
                    <span class="label color_{{ zasob.category.offerGroup.id }}">{{ zasob.category.offerGroup.title }}</span>
                {% endif %}
            </a>

            <span class="title">{{ zasob.title }}</span>

            {% if zasob.plik or zasob.plikEn %}
                <div class="item-download">
                    <span>Pobierz PDF</span>

                    <div class="links">
                        {% if zasob.plik %}
                            <a href="{{ path('cms_elmat_plik_pobierz', {id: zasob.plik.id}) }}" class="pl"></a>
                        {% endif %}

                        {% if zasob.plikEn %}
                            <a href="{{ path('cms_elmat_plik_pobierz', {id: zasob.plikEn.id}) }}" class="en"></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

    {% endfor %}
    </div>

    {{ knp_pagination_render(zasoby) }}
{% endblock %}

{% block left_class %}tech-articles{% endblock %}




