
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
    {{ parent() }}


{%  endblock %}

{% block form_fieldset %}
    <fieldset>
        <legend>Główne informacje</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['lang'])}}
            {{ form_row(form['offer_group'])}}
            {{ form_row(form['kolejnosc'])}}
            {{ form_row(form['title'])}}
            {{ form_row(form['description'])}}
            {{ form_row(form['link'])}}
            {{ form_row(form['textColor'])}}
        </div>
    </fieldset>

    <fieldset>
        <legend>Opcje dodatkowe</legend>
        <div class="sonata-ba-collapsed-fields">
            <div class="control-group">
                <label></label>
                <div class="controls">
                    {% if object.getWebPath and object.getWebPath() %}
                        <a href="{{ asset(object.getWebPath())  }}">
                            <img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
                        </a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
                
            {{ form_row(form['_file_image'])}}
            {{ form_row(form['_delete_file_image'])}}
        </div>
    </fieldset>
{% endblock %}
