{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/cmselmat/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

{%  endblock %}

{% block form_fieldset %}

	<fieldset>

	{% if object.name is null  %}

	<legend>Główne</legend>
		<div class="sonata-ba-collapsed-fields">
			{{ form_row(form['name'])}}
			{{ form_row(form['description'])}}
		</div>

	</fieldset>

	{% else %}



    <div class="control-group" >
      <label class=" control-label" >
                                    Opis szablonu

   </label>

        <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">

                {{ object.description|raw }}
        </div>
        </div>



	{% endif %}

		<legend>Szablon email</legend>
		<div class="sonata-ba-collapsed-fields">
			{{ form_row(form['topic'])}}
			{{ form_row(form['content'])}}
			{{ form_row(form['content_txt'])}}
		</div>

	</fieldset>


{# 	<fieldset>#}
{# 		<legend>{{ admin.trans('label.highlights') }}</legend>#}
{# 		<div class="sonata-ba-collapsed-fields">#}
{#  			{{ form_row(form['highlight_mainpage'])}}#}
{#  			{{ form_row(form['highlight_category'])}}#}
{# 	</fieldset>#}

{% endblock %}
