{% extends base_template %}

{% block form %}

<script type="text/javascript">

		var edit_admin_uniqid = '{{ admin.uniqid }}';
		var form_id = '{{ admin.uniqid }}_form';
		var searchServices = JSON.parse('{{ form['searchServices'].vars.value|raw }}');
		var routeParameters = '{{ form['routeParameters'].vars.value|raw }}';
		var routeparameters_url = '{{ admin.generateUrl('routeparameters') }}';

		var anchor = $('#{{ admin.uniqid }}_anchor');
		var title = $('#{{ admin.uniqid }}_title');

		var anchor_init_val = anchor.val();
		var title_init_val = title.val();

		function populateRouteParametersSelect() {


			select_element = $('#' + edit_admin_uniqid + '_routeParameters_choice');

			$.ajax({
				type: 'POST',
				dataType: 'html',
				url: routeparameters_url,
				data: {
						route: current_route,
						search: ''
					},
				success:
					function(ret) {
						console.log('success: '+ret);
						select_element.html(ret);
						select_element.find('option').removeAttr('selected');
						select_element.find('option[value="'+ routeParameters +'"]').attr('selected', 'selected');
				}
			});

		}


		jQuery(function(){

			$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').hide();
			$('#{{ admin.uniqid }}_type')
				.change(function(){

					// hide all choices
					$('#sonata-ba-field-container-{{ admin.uniqid }}_route').hide();
					$('#sonata-ba-field-container-{{ admin.uniqid }}_url').hide();

					// show only selected
					val = $(this).val();
					$('#sonata-ba-field-container-{{ admin.uniqid }}_'+val).show();

					if(val == 'url') {
						$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').hide();
						$('#{{ admin.uniqid }}_routeParameters').val('');
					}

				})
				.change();

			$('#{{ admin.uniqid }}_routeParameters_choice')
				.change(function(){
					rute_title = $(this).find('option:selected').html();
					rute_val = $(this).val();

					$('#{{ admin.uniqid }}_routeParameters').val(rute_val);

					if(anchor.val() == '' || anchor_init_val == '') {
						anchor.val(rute_title)
					}
					if(title.val() == '' || title_init_val == '' ) {
						title.val(rute_title)
					}

				}
			);


			$('#{{ admin.uniqid }}_route')
			.change(function(){
				$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').hide();
				current_route = $(this).val();
				// show routeParameters select if module is searchable
				if($('#sonata-ba-field-container-{{ admin.uniqid }}_route').is(':visible')) {
					if ( searchServices[current_route] != null ) {
						$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').show();
						populateRouteParametersSelect();
					};
				} else {
					$('#{{ admin.uniqid }}_routeParameters').val('');
				}
			})
			.change();

			$('#{{ admin.uniqid }}_wyrozniony').change(function(){
				if($(this).is(':checked')) {
					$('#{{ admin.uniqid }}_attributes').val('class="special"');
				} else {
					$('#{{ admin.uniqid }}_attributes').val('');
				}
			});


		});



	</script>

	{% if app.request.isxmlhttprequest %}
	<script type="text/javascript">

	$('form#'+form_id).submit(function(e){
		e.preventDefault();

		action = $('form#'+form_id).attr('action');
		data = $('form#'+form_id).serialize();

		$.ajax({
			type: 'POST',
			url: action,
			data: data,
			success: function(ret) {
				if(ret.result == 'ok') {


					$('form#'+form_id + ' > div.alert-success').slideDown();
					setTimeout(function(){
						$('form#'+form_id + ' > div.alert-success').slideUp();
					}, 2000)

					if( (saveMenuItemCallback != undefined ) && ( typeof saveMenuItemCallback == 'function' ) ) {
						saveMenuItemCallback(ret);
					} else {
						alert('ok');
					}

				} else {
					$('form#'+form_id).parent('div').html(ret);
				}

			}
		})
	});

	</script>
	{% endif %}


    {% set url = admin.id(object) ? 'edit' : 'create' %}

        <form id="{{ admin.uniqid }}_form" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid}) }}" {{ form_enctype(form) }} method="POST" novalidate>

        <div class="alert alert-success" style="display:none;">{% trans from 'SonataAdminBundle' %}flash_edit_success{% endtrans %}</div>

            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {{ form_row(form['anchor'])}}
            {{ form_row(form['title'])}}
            {{ form_row(form['location'])}}
			{{ form_row(form['type']) }}
            {{ form_row(form['url'])}}
            {{ form_row(form['route'])}}
            <div class="control-group" id="sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice" style="display: block;">
            <label class=" control-label" for="{{ admin.uniqid }}_routeParameters_choice"> Wybierz</label>
            <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
			      <select id="{{ admin.uniqid }}_routeParameters_choice"  class="span5"><option value=""></option>
			</select></div></div>

            {{ form_row(form['routeParameters'])}}
{#             <div style="display:none">#}
{#             {{ form_row(form['attributes'])}}#}
{# 			</div>#}

			{# tymczasowo dla primadent - checkbox  do wyboru elementu wyróżnionego #}
{# 	        <div class="clearfix" id="sonata-ba-field-container-{{ admin.uniqid }}_wyrozniony">#}
{#                   <label class="" for="{{ admin.uniqid }}_wyrozniony">#}
{#                           Element wyróżniony#}
{#                   </label>#}

{# 	            <div class="input sonata-ba-field sonata-ba-field-standard-natural ">#}
{# 	                <input type="checkbox" id="{{ admin.uniqid }}_wyrozniony" class="" {% if object.attributes == 'class="special"' %}checked="checked"{% endif %}>#}
{# 	                <span class="help-block sonata-ba-field-help">Element wyróżniony w menu bocznym</span>#}
{# 	            </div>#}

{#         	</div>#}

            <div style="display:none">
            	{{ form_row(form['searchServices']) }}
            </div>

            {{ form_rest(form) }}

            <div class="actions">
                {% if app.request.isxmlhttprequest %}
                    {% if admin.id(object) %}
                        <input  type="submit" class="btn primary" name="btn_update" value="{% trans from 'SonataAdminBundle' %}btn_update{% endtrans %}"/>

                    {% if admin.hasroute('delete') and admin.isGranted('DELETE') %}
                            {% trans from 'SonataAdminBundle' %}delete_or{% endtrans %}
                            <a class="btn danger" href="{{ admin.generateObjectUrl('delete', object) }}">{% trans from 'SonataAdminBundle' %}link_delete{% endtrans %}</a>
                        {% endif %}
                    {% else %}
                        <input type="submit" class="btn" name="btn_create" value="{% trans from 'SonataAdminBundle' %}btn_create{% endtrans %}"/>
                    {% endif %}

                {% else %}
                    {% if admin.id(object) %}
                        <input type="submit" class="btn primary" name="btn_update_and_edit" value="{% trans from 'SonataAdminBundle' %}btn_update_and_edit_again{% endtrans %}"/>
                        <input type="submit" class="btn" name="btn_update_and_list" value="{% trans from 'SonataAdminBundle' %}btn_update_and_return_to_list{% endtrans %}"/>

                        {% if admin.hasroute('delete') and admin.isGranted('DELETE') %}
                            {% trans from 'SonataAdminBundle' %}delete_or{% endtrans %}
                            <a class="btn danger" href="{{ admin.generateObjectUrl('delete', object) }}">{% trans from 'SonataAdminBundle' %}link_delete{% endtrans %}</a>
                        {% endif %}
                    {% else %}
                        <input class="btn primary" type="submit" name="btn_create_and_edit" value="{% trans from 'SonataAdminBundle' %}btn_create_and_edit_again{% endtrans %}"/>
                        <input class="btn" type="submit" name="btn_create_and_create" value="{% trans from 'SonataAdminBundle' %}btn_create_and_create_a_new_one{% endtrans %}"/>
                    {% endif %}
                {% endif %}
            </div>
        </form>

{% endblock %}