{% extends base_template %}

{% block field%}
	{% if object.type == 'url' %}
		{% set url = object.url %}
	{% elseif object.type == 'route' %}
		{% set url =  path(object.route, object.getRouteParametersTwig() )  %}

	{% endif %}

	<a href="{{ url }}">{{ url }}</a>

{% endblock %}

