{% if galeria and galeria.zdjecia %}
    {% set photos = galeria.zdjecia %}
    <div class="product-photos">
        <div class="header">Zdjęcia</div>
        <ul id="product-slider">
            {% for item in photos %}
                {% if item.getWebPath() %}
                    <li>
                        <a class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                            <img src="{{ asset( item.getWebPath() | imagine_filter('gallery') ) }}" alt="" />
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
        {% if photos|length > 3 %}
            <div id="prev3"></div>
            <div id="next3"></div>
        {% endif %}
    </div>
{% endif %}
