{% if powiazane is not empty %}
    <div class="powiazane">
        {% set index = 0 %}
        <div class="row">
            {% for powiazany in powiazane %}
            {% if powiazany.powiazany %}
            {% set prod = powiazany.powiazany %}

            {% if index > 0 and index %4 == 0 %}
        </div>
        <div class="row">
            {% endif %}

            {% set index = index+1 %}
            <div class="item">
                <a class="image" href="{{ path('cms_elmat_product_show', {id: prod.id, slug: prod.slug}) }}" title="{{ prod.title }}">
                    {% if prod.getWebPathCrop('image_thumb') %}
                        <img src="{{ asset( prod.getWebPathCrop('image_thumb') | imagine_filter('product_small') ) }}" alt="" />
                    {% elseif prod.getWebPathCrop('image') %}
                        <img src="{{ asset( prod.getWebPathCrop('image') | imagine_filter('product_small') ) }}" alt="" />
                    {% endif %}
                </a>
                <a class="title" href="{{ path('cms_elmat_product_show', {id: prod.id, slug: prod.slug}) }}" title="{{ prod.title }}">
                    {{ prod.title }}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
{% endif %}
        
    

