{% extends 'CmsElmatBundle:Product:show.html.twig' %}

{% block page_content %}
    <a name="opis"></a>

    {% if  product.content %}
        <div class="product-description">
            {{ product.content|raw }}
        </div>
    {% endif %}

    {% set products_tab_class = '' %}

    {% if product.getWebPath() or product.getZdjecia|length > 0 or product.pliki|length > 0 %}

        {% set products_tab_class = 'with-right-column' %}

        {% include 'CmsElmatBundle:Product:_do_pobrania.html.twig' %}

        {% if product.getWebPath() or product.getZdjecia|length > 0 %}

            <a name="zdjecia"></a>

            <div class="product-photos">
                <div class="header">Zdjęcia</div>

                <ul id="product-slider"
                        {% if product.getZdjecia | length > 3 %}
                            class="cycle-slideshow"

                            data-cycle-fx=carousel
                            data-cycle-timeout=0
                            data-cycle-slides="> li"
                            data-cycle-next="#next3"
                            data-cycle-prev="#prev3"
                        {% endif %}
                >
                    {% if product.getWebPath() %}
                        {% set item = product %}
                        <li>
                            <a data-current="1" data-total="{{ product.getZdjecia|length + 1 }}" class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                                <img src="{{ asset( item.getWebPathCrop() | imagine_filter('product_gallery') ) }}" alt="" />
                            </a>
                        </li>
                    {% endif %}

                    {% for key, item in product.getZdjecia %}
                        {% if product.getWebPath() %}
                            {% set currentPhoto = key + 2 %}
                            {% set totalPhotos = product.getZdjecia|length + 1 %}
                        {% else %}
                            {% set currentPhoto = key + 1 %}
                            {% set totalPhotos = product.getZdjecia|length %}
                        {% endif %}
                        <li>
                            <a data-current="{{ currentPhoto }}" data-total="{{ totalPhotos }}" class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                                <img src="{{ asset( item.getWebPathCrop() | imagine_filter('product_gallery') ) }}" alt="" />
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% if product.getZdjecia | length >= 3 %}
                    <div id="prev3"></div>
                    <div id="next3"></div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

    <div class="tabs">
        {% if product.powiazane is defined %}
        {% for tab in product.tabs %}
                <div id="prod-tab-{{ tab.id }}" name="prod-tab-{{ tab.id }}">
                    {% if tab.description and tab.type != 'produkty_powiazane' %}
                    <div class="product-articles ">
                        <div class="header">{{ tab.name }}</div>
                    </div>
                        <div class="product-description">
                            {{ tab.description|raw }}
                        </div>
                    {% endif %}
                    {% if ( tab.type == 'produkty_powiazane' and product.powiazane | length > 0 ) %}
                    <div class="product-articles ">
                        <div class="header">Produkty powiązane</div>
                    </div>
                        {% include 'CmsElmatBundle:Product:_powiazane_produkty.html.twig' with { 'powiazane': product.powiazane } %}
                    {% endif %}
                </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}


