
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/cmselmat/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

{%  endblock %}

{% block form_fieldset %}

	<fieldset>

		<legend>Główne informacje</legend>
		<div class="sonata-ba-collapsed-fields">

			{{ form_row(form['title'])}}
			{{ form_row(form['content'])}}

		</div>

	</fieldset>

	<fieldset>
		<legend>Cennik</legend>
		<div class="sonata-ba-collapsed-fields">

            {% if  object.getWebPath('cennik') %}
             {{ form_row(form['cennik_filename'])}}
			<div class="control-group">
				<label></label>
				<div class="controls">
				    <a href="{{ path('cms_elmat_userzone_cennik_download', {id: object.id}) }}">
						Pobierz
					</a>
				</div>
			</div>

			{% endif %}
			{{ form_row(form['_file_cennik'])}}
			 {% if  object.getWebPath('cennik') %}
			 {{ form_row(form['_delete_file_cennik'])}}

			 {% endif %}



	    </div>

	    <legend>Miniaturka</legend>
		<div class="sonata-ba-collapsed-fields">

		    {% if  object.getWebPath('image') %}
			<div class="control-group">
				<label></label>
				<div class="controls">
					<a href="{{ asset(object.getWebPath('image'))  }}">
						<img src="{{ asset(object.getWebPath('image') | imagine_filter('admin_med') ) }}" />
					</a>
				</div>
			</div>
			{% endif %}
			{{ form_row(form['_file_image'])}}
			{% if  object.getWebPath('image') %}
			{{ form_row(form['_delete_file_image'])}}
			{% endif %}

		</div>
	</fieldset>

	<fieldset>
		<legend>Publikacja</legend>
		<div class="sonata-ba-collapsed-fields">
			{{ form_row(form['published'])}}
		</div>
	</fieldset>



{# 	<fieldset>#}
{# 		<legend>{{ admin.trans('label.highlights') }}</legend>#}
{# 		<div class="sonata-ba-collapsed-fields">#}
{#  			{{ form_row(form['highlight_mainpage'])}}#}
{#  			{{ form_row(form['highlight_category'])}}#}
{# 	</fieldset>#}

{% endblock %}
