
{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block show %}
    <div class="sonata-ba-view">
        <h1>{{ object }}</h1>
        <h1>Status - {{ object.statusTxt }}</h1>
        <table class="table">
            <tr>
                <th>L.p.</th>
                <th>Data</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            {% for send in object.sendings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ send.data|date('Y-m-d H:i:s') }}</td>
                <td>{{ send.subscription.email }}</td>
                <td>{{ send.statusTxt }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}