<div class="slider cycle-slideshow" 
                                 data-cycle-fx=fade
                                 data-cycle-timeout=2000
                                 data-cycle-slides="> div.item"
                                 data-cycle-prev=".nav-prev"
                                 data-cycle-next=".nav-next">
		{% for n in news_highlight %}
        <div class="item">
            <a href="{{  path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id}) }}" class="image">
                {% if n.getWebPath %}
        	    <img src="{{ asset( n.getWebPathCrop() | imagine_filter('aktualnosci_lista') ) }}" alt="{{ n.title }}"/>
        		{% endif %}
            </a>
            <div class="rest">
                <a href="{{  path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id}) }}" class="title">
                    {#<span class="color_8">NOWE</span>#}
                    {{ n.title }}
                </a>
                <div class="date">{{ n.publishDate|localizeddate('long', 'none') }}</div>
                <div class="text">
                   {{ n.description|truncate(420, true) }}
                </div>
            </div>
        </div>
    
    
		
		{% endfor %}

        {% if news_highlight|length > 1 %}
		<div class="nav-prev"></div>
        <div class="nav-next"></div>
        {% endif %}

	</div>



{#<div id="highlights">
		{% for n in news_highlight %}
		<div class="highlight-main {% if loop.first %}active{% endif %}" id="highlight-{{ n.id }}">
			<div class="img">
				{% if n.getWebPath %}
        	    <img src="{{ asset( n.getWebPath() | imagine_filter('highlights_main') ) }}" alt="{{ n.title }}"/>
        		{% endif %}
			</div>
			<div class="desc">
				<div class="cat">#}
                    
{# 					{% if n.getOfferGroup() %}#}
{# 						<a href="{{  path('cms_elmat_live_offergroup', {slug: n.getOfferGroup().slug}) }}" title="{{ n.getOfferGroup().title }}" >#}
{# 						{{ n.getOfferGroup().title }}#}
{# 						</a>#}
{# 					{% else %}#}
{# 						{% if n.category %}#}
{# 						<a href="{{  path('cms_elmat_live_category', {slug: n.category.slug}) }}" title="{{ n.category.title }}" >#}
{# 						{{ n.category.title }}#}
{# 						</a>#}
{# 						{% endif %}#}
{# 					{% endif %}#}
{#				</div>
				<div class="title">
					<a href="{{  path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="pozostala-photo">
					{{ n.title }}
					</a>
				</div>
				<div class=teaser>
				{{ n.description|truncate(120, true) }}
				</div>
			</div>
		</div>
		{% endfor %}

		<div id="highlights_changer">
			{% spaceless %}
			{% for n in news_highlight %}
				<a href="javascript:void(0)" rel="highlight-{{ n.id }}" class="{% if loop.first %}active{% endif %}">{{ loop.index }}</a>
			{% endfor %}
			{% endspaceless %}

		</div>

	</div>#}