{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Aktualności - {{ parent() }}{% endblock %}
{% block description %}Aktualności. {{ parent() }}{% endblock %}
{% block keywords %}Aktualności,{{ parent() }}{% endblock %}

{% block page_class%}{% endblock %}

{% block page_header %}Aktualności{% endblock %}

{% block left_class %}news-list{% endblock %}

{% block page_content %}

{% if news_highlight is defined and news_highlight|length > 0 %}

	<div id="highlights_category">
		{% include 'CmsElmatBundle:Aktualnosci:_highlights.html.twig' %}
	</div>

{% endif %}


{% for n in news %}
<div class="{% if loop.first %}major{% else %}minor{% endif %}">

    <a href="{{ path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="image">
        {% if n.getWebPath %}
        <img src="{{ asset( n.getWebPath() | imagine_filter('aktualnosci_lista') ) }}" alt="{{ n.title }}"/>
        {% endif %}
    </a>
    

    <div class="rest ">
        <a href="{{ path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="title">{{ n.title }}</a>
        <div class="date">
            {{ n.publishDate|localizeddate('long', 'none') }}
        </div>
        <div class="text">
            {{ n.description|truncate(150, true) }}
        </div>
    </div>
    
</div>
{% endfor %}
{#
    {% for n in news %}
    <div class="item">

        {% if n.getWebPath %}
        <a href="{{  path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="photo"><img src="{{ asset( n.getWebPath() | imagine_filter('hp_aktualnosci') ) }}" alt="{{ n.title }}"/></a>
        {% endif %}

        <div class="data {% if not n.getWebPath %}data-waski{% endif %}">
            <a href="{{ path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id})  }}" title="{{ n.title }}" class="title">{{ n.title }}</a>
            <div class="publdate">
            	{{ n.publishDate|localizeddate('long', 'none') }}
            </div>
            <div class="teaser">
                {{ n.description|truncate(230, true) }}
                <a href="{{ path('cms_elmat_aktualnosci_show', {slug: n.slug, id: n.id}) }}" class="more"><img src="{{ asset('bundles/cmselmat/images/arrow1.gif') }}" /></a>
            </div>
        </div>
    </div>
    {% endfor %}
#}

 {{ knp_pagination_render(news) }}



{% endblock %}