{% extends 'CmsElmatBundle:Page:show_base.html.twig' %}

{% block title %}{{ news.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ news.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ news.keywords|default(parent()) }}{% endblock %}

{% block page_header %}
    {{ news.title }}

    {% set obj = news %}

    {% include 'CmsElmatBundle:Default:editLinkScriptTag.html.twig' with { type: 'news', id: obj.id, og: obj.offerGroup ? obj.offerGroup.slug : ''} %}
{% endblock %}

{% block page_class %}page-products page-text {% endblock %}

{% block page_date %}
    {{ news.publishDate|localizeddate('long', 'none') }}
{% endblock %}

{% block page_content %}
    <div class="site-description">
        {% if news.getWebPath and news.getWebPath %}
            <a class="gallery_photo" href="{{ asset( news.getWebPath() ) }}">
                <img src="{{ asset( news.getWebPathCrop() | imagine_filter('aktualnosci_szczegoly') ) }}" alt="" class="float-right round-5px"/>
            </a>
        {% endif %}

        {{ news.content|raw }}
    </div>

    {% include 'CmsElmatBundle:Pliki:_do_pobrania.html.twig' with {pliki: news.pliki} %}

    {% if news.galeria %}
        {% include 'CmsElmatBundle:Galeria:show_podstrona.html.twig' with {'galeria': news.galeria} %}
    {% endif %}
{% endblock %}