{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/js/jcrop/css/jquery.Jcrop.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/preview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var edytor_css = '{{ asset('bundles/cmselmat/css/editor.css') }}';
        var edytor_css2 = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
        var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
    </script>

    <script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/cmselmat/js/jcrop/js/jquery.Jcrop.js') }}" type="text/javascript"></script>

    {% if object.id is defined and object.id > 0 %}
        <script type="text/javascript">
            jQuery(function ($) {
                $('.tabs').tabs();
                $('#obrazek-przytnij').Jcrop({
                    aspectRatio: 121 / 73,
                    onSelect: croppedAction
                });
            });

            var crop = null;

            function croppedAction(c) {
                crop = c;
                $('#przytnij button').removeAttr('disabled');
            }

            function zapiszKadr() {
                $.ajax({
                    type: 'POST',
                    url: '{{ admin.generateUrl('kadruj', {id: object.id}) }} ',
                    data: {
                        crop: crop
                    },
                    success: function (ret) {
                        $('#przytnij-wynik').html(ret);
                    }
                });
            }

            $(document).on('click', '.preview-link', function (event) {
                event.preventDefault();

                var url = $(this).attr('href');

                $.ajax({
                    type: "post",
                    url: url,
                    success: function (data, status, object) {
                        $('#preview-modal').find('.modal-body').html(data);
                        $('#preview-modal').modal();
                    },
                    error: function (data, status, object) {
                        console.log(data);
                    }
                });
            })
        </script>
    {% endif %}
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:preview_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form_fieldset %}
    <fieldset>
        <legend>Główne informacje</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['offer_group']) }}
            {{ form_row(form['category']) }}
            {{ form_row(form['title']) }}
            {{ form_row(form['content']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Opcje dodatkowe</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['galeria']) }}
            <div class="control-group">
                <div class="controls">
                    {% if object.getWebPath() %}
                        <ul class="nav nav-tabs pills">
                            <li class="active"><a data-toggle="tab" href="#obrazek">Obrazek</a></li>
                            <li><a data-toggle="tab" href="#przytnij">Kadrowanie</a></li>
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane active" id="obrazek">
                                <a href="{{ asset(object.getWebPathCrop()) }}">
                                    <img src="{{ asset(object.getWebPathCrop() | imagine_filter('thumb_admin') ) }}" />
                                </a>
                            </div>

                            <div class="tab-pane" id="przytnij">
                                <div id="przytnij-wynik"></div>
                                <button class="btn" name="btn_update_and_edit" onclick="zapiszKadr();return false;" disabled>Zapisz</button>
                                <br />
                                <img id="obrazek-przytnij" src="{{ asset(object.getWebPath()) }}" />
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>
            {{ form_row(form['_file_image']) }}
            {{ form_row(form['_delete_file_image']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Publikacja</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['published']) }}
            {{ form_row(form['publishDate']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>SEO</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['automaticSeo']) }}
            {{ form_row(form['slug']) }}
            {{ form_row(form['keywords']) }}
            {{ form_row(form['description']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ admin.trans('Wyróżnienie na stronie Live.elmat.pl') }}</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['highlight_mainpage']) }}
            {{ form_row(form['highlight_category']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ admin.trans('Wyróżnienie na stronie głównej Elmat.pl') }}</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['highlights_box_mainpage']) }}
        </div>
    </fieldset>
{% endblock %}

{% block form_fieldset2 %}
    {{ form_row(form['title']) }}
    {{ form_row(form['content']) }}
    {{ form_row(form['published']) }}
    {{ form_row(form['publishDate']) }}

    <div class="input">
        {% if object.getWebPath() %}
            <a href="{{ asset(object.getWebPath()) }}">
                <img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
            </a>
        {% else %}
        {% endif %}
    </div>

    <div class="input">
        {% if object.getWebPath() %}
            <a href="{{ asset(object.getWebPath()) }}">
                <img src="{{ asset(object.getWebPath() | imagine_filter('thumb_admin') ) }}" />
            </a>
        {% else %}
        {% endif %}
    </div>
    {{ form_row(form['_file']) }}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="preview-modal" class="modal hide fade modal-lg" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Podgląd aktualności</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
