<div class="site-title">
    <div class="head">{{ page.title }}</div>
    <div class="desc gray">dodany {{ page.publishDate|localizeddate('long', 'none') }}</div>
</div>

<div class="site-description">
    {% if page.getWebPath %}
        <a class="gallery_photo" href="{{ asset( page.getWebPath() ) }}">
            <img src="{{ asset( page.getWebPathCrop() | imagine_filter('aktualnosci_szczegoly') ) }}" alt="" class="float-right round-5px" />
        </a>
    {% endif %}

    {{ page.content|raw }}
</div>

{% if page.pliki is defined and page.pliki|length > 0 %}
    <div class="product-download">
        <div class="header">Pliki do pobrania</div>
        <div class="cont">
            {% for plik in page.pliki %}
                <a href="{{ path('cms_elmat_plik_pobierz', {id: plik.id}) }}" class="item {{ plik.rozszerzenie }}" title="{{ plik.getNazwa() }}">
                    {{ plik.getNazwa()|truncate(18) }} ({{ plik.getRozmiarMBFormat() }})
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if page.galeria %}
    {% if page.galeria and page.galeria.zdjecia %}
        {% set photos = page.galeria.zdjecia %}
        <div class="product-photos">
            <div class="header">Zdjęcia</div>
            <ul id="product-slider">
                {% for item in photos %}
                    {% if item.getWebPath() %}
                        <li>
                            <a class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                                <img src="{{ asset( item.getWebPath() | imagine_filter('gallery') ) }}" alt="" />
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
            {% if photos|length > 3 %}
                <div id="prev3"></div>
                <div id="next3"></div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
